<div class="modal-header">
    <h4 class="modal-title pull-left" >¿Salir sin Guardar Calificaciones?</h4>
  </div>

<div class="modal-body">
    <span class="question">¿Estás seguro de que quieres salir?</span><br>
        <span class="consequence">Perderás todo el progreso hasta el momento.</span>
  </div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="decline()">No, revisar carga</button>
    <button type="button" class="btn btn-primary" (click)="accept()">Si, salir</button>
</div>
