.estudiante-container {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  .foto-estudiante img {
    max-width: 100px; /* Ajusta el tamaño de la foto */
    //border-radius: 50%; /* Opcional: para hacer la foto circular */
    margin-right: 20px; /* Espacio entre la foto y los datos */
  }
  
  .datos-estudiante p {
    margin: 0; /* Elimina los márgenes por defecto de los párrafos */
  }

  .inline-inputs {
    display: flex;
    //align-items: center; /* Alinea los elementos verticalmente en el centro */
    //justify-content: space-around; /* Espacia los elementos uniformemente */
  }
  
  .carnet-comment {
    font-size: 0.85em; /* Un tamaño más pequeño para que sea claramente un comentario */
    color: #666; /* Un color más suave para reducir la prominencia visual */
    //margin-top: -5px; /* Ajuste de margen para una mejor agrupación visual con el carnet */
  }

  .uppercase-input {
    text-transform: uppercase;
  }

  .explanation {
    margin-left: 16px; /* Ajusta el margen según sea necesario */
    font-size: 14px;
    color: #555; /* Puedes ajustar el color según tus preferencias */
    margin-top: 8px; /* Añade un margen superior para separar del checkbox */
  }