<div _ngcontent-uvv-c36="" class="col l6 m12 s12"><label _ngcontent-uvv-c36="" class="label-custom">Documento de
        identidad:</label>
    <div _ngcontent-uvv-c36="" class="row">
        <div _ngcontent-uvv-c36="" class="col l6 m6 s4"><mat-form-field _ngcontent-uvv-c36=""
                class="mat-form-field ng-tns-c11-222 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine mat-form-field-should-float mat-form-field-disabled">
                <div class="mat-form-field-wrapper">
                    <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><mat-select _ngcontent-uvv-c36=""
                                class="mat-select ng-tns-c38-223 ng-untouched ng-pristine ng-star-inserted mat-select-disabled"
                                formcontrolname="documentoIdentidadTypeId" placeholder="Tipo de documento"
                                role="listbox" id="mat-select-73" tabindex="-1" aria-label="Tipo de documento"
                                aria-required="false" aria-disabled="true" aria-invalid="false"
                                aria-multiselectable="false">
                                <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                                    <div class="mat-select-value"><!----><!----><span
                                            class="mat-select-value-text ng-tns-c38-223 ng-star-inserted"
                                            style=""><!----><span
                                                class="ng-tns-c38-223 ng-star-inserted">V</span><!----></span></div>
                                    <div class="mat-select-arrow-wrapper">
                                        <div class="mat-select-arrow"></div>
                                    </div>
                                </div><!---->
                            </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                                    class="mat-form-field-label ng-tns-c11-222 ng-star-inserted"
                                    id="mat-form-field-label-267" for="mat-select-73"
                                    aria-owns="mat-select-73"><!----><!---->Tipo de
                                    documento<!----><!----></label></span></div><!---->
                    </div><!---->
                    <div class="mat-form-field-underline ng-tns-c11-222 ng-star-inserted"><span
                            class="mat-form-field-ripple"></span></div>
                    <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div class="mat-form-field-hint-wrapper ng-tns-c11-222 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                            style="opacity: 1; transform: translateY(0%);"><!---->
                            <div class="mat-form-field-hint-spacer"></div>
                        </div>
                    </div>
                </div>
            </mat-form-field></div>
        <div _ngcontent-uvv-c36="" class="col l6 m6 s8"><mat-form-field _ngcontent-uvv-c36=""
                class="mat-form-field ng-tns-c11-224 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine mat-form-field-should-float mat-form-field-disabled">
                <div class="mat-form-field-wrapper">
                    <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><input _ngcontent-uvv-c36=""
                                class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine"
                                color="primary" formcontrolname="documentoIdentidadNumero" matinput=""
                                placeholder="Número de cédula" id="mat-input-60" aria-invalid="false"
                                aria-required="false" disabled=""><span
                                class="mat-form-field-label-wrapper"><!----><label
                                    class="mat-form-field-label ng-tns-c11-224 ng-star-inserted"
                                    id="mat-form-field-label-269" for="mat-input-60"
                                    aria-owns="mat-input-60"><!----><!---->Número de cédula<!----><!----></label></span>
                        </div><!---->
                    </div><!---->
                    <div class="mat-form-field-underline ng-tns-c11-224 ng-star-inserted"><span
                            class="mat-form-field-ripple"></span></div>
                    <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div class="mat-form-field-hint-wrapper ng-tns-c11-224 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                            style="opacity: 1; transform: translateY(0%);"><!---->
                            <div class="mat-form-field-hint-spacer"></div>
                        </div>
                    </div>
                </div>
            </mat-form-field></div>
    </div>
</div>
<div _ngcontent-uvv-c36="" class="col l6 m12 s12"><label _ngcontent-uvv-c36="" class="label-custom">Fecha de
        nacimiento:</label>
    <div _ngcontent-uvv-c36="" class="row mar-b-0">
        <div _ngcontent-uvv-c36="" class="col l4 m4 s4"><mat-form-field _ngcontent-uvv-c36=""
                class="mat-form-field ng-tns-c11-225 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine mat-form-field-should-float mat-form-field-disabled">
                <div class="mat-form-field-wrapper">
                    <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><input _ngcontent-uvv-c36=""
                                class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine"
                                formcontrolname="fechaNacDia" matinput="" placeholder="Día" id="mat-input-61"
                                aria-invalid="false" aria-required="false" disabled=""><span
                                class="mat-form-field-label-wrapper"><!----><label
                                    class="mat-form-field-label ng-tns-c11-225 ng-star-inserted"
                                    id="mat-form-field-label-271" for="mat-input-61"
                                    aria-owns="mat-input-61"><!----><!---->Día<!----><!----></label></span></div><!---->
                    </div><!---->
                    <div class="mat-form-field-underline ng-tns-c11-225 ng-star-inserted"><span
                            class="mat-form-field-ripple"></span></div>
                    <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div class="mat-form-field-hint-wrapper ng-tns-c11-225 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                            style="opacity: 1; transform: translateY(0%);"><!---->
                            <div class="mat-form-field-hint-spacer"></div>
                        </div>
                    </div>
                </div>
            </mat-form-field></div>
        <div _ngcontent-uvv-c36="" class="col l4 m4 s4"><mat-form-field _ngcontent-uvv-c36=""
                class="mat-form-field ng-tns-c11-226 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine mat-form-field-should-float mat-form-field-disabled">
                <div class="mat-form-field-wrapper">
                    <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><input _ngcontent-uvv-c36=""
                                class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine"
                                formcontrolname="fechaNacMes" matinput="" placeholder="Mes" id="mat-input-62"
                                aria-invalid="false" aria-required="false" disabled=""><span
                                class="mat-form-field-label-wrapper"><!----><label
                                    class="mat-form-field-label ng-tns-c11-226 ng-star-inserted"
                                    id="mat-form-field-label-273" for="mat-input-62"
                                    aria-owns="mat-input-62"><!----><!---->Mes<!----><!----></label></span></div><!---->
                    </div><!---->
                    <div class="mat-form-field-underline ng-tns-c11-226 ng-star-inserted"><span
                            class="mat-form-field-ripple"></span></div>
                    <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div class="mat-form-field-hint-wrapper ng-tns-c11-226 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                            style="opacity: 1; transform: translateY(0%);"><!---->
                            <div class="mat-form-field-hint-spacer"></div>
                        </div>
                    </div>
                </div>
            </mat-form-field></div>
        <div _ngcontent-uvv-c36="" class="col l4 m4 s4"><mat-form-field _ngcontent-uvv-c36=""
                class="mat-form-field ng-tns-c11-227 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine mat-form-field-should-float mat-form-field-disabled">
                <div class="mat-form-field-wrapper">
                    <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><input _ngcontent-uvv-c36=""
                                class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-untouched ng-pristine"
                                formcontrolname="fechaNacAnio" matinput="" placeholder="Año" id="mat-input-63"
                                aria-invalid="false" aria-required="false" disabled=""><span
                                class="mat-form-field-label-wrapper"><!----><label
                                    class="mat-form-field-label ng-tns-c11-227 ng-star-inserted"
                                    id="mat-form-field-label-275" for="mat-input-63"
                                    aria-owns="mat-input-63"><!----><!---->Año<!----><!----></label></span></div><!---->
                    </div><!---->
                    <div class="mat-form-field-underline ng-tns-c11-227 ng-star-inserted"><span
                            class="mat-form-field-ripple"></span></div>
                    <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div class="mat-form-field-hint-wrapper ng-tns-c11-227 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                            style="opacity: 1; transform: translateY(0%);"><!---->
                            <div class="mat-form-field-hint-spacer"></div>
                        </div>
                    </div>
                </div>
            </mat-form-field></div>
    </div>
</div>