<div class="modal-header">
    <h2 class="modal-title">Actualización de datos del proceso: {{calendar.proceso}}</h2>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col s12">
          <mat-form-field>
            <mat-label>Periodicidad</mat-label>
            <input matInput [value]="calendar.periodicidad" disabled>
          </mat-form-field>
        </div>
        <div class="col s12">
          <mat-form-field>
            <mat-label>Periodo</mat-label>
            <input matInput [value]="calendar.periodo" disabled>
          </mat-form-field>
        </div>
      </div>
    <!-- Campos para Actualizar Fechas -->
    <div class="row">
      <div class="col s12">
        <mat-form-field>
          <mat-label>Fecha inicial</mat-label>
          <input [(ngModel)]="calendar.fec_ini" matInput [matDatepicker]="fecIniPicker" required>
          <mat-datepicker-toggle matIconSuffix [for]="fecIniPicker"></mat-datepicker-toggle>
          <mat-datepicker #fecIniPicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col s12">
        <mat-form-field>
          <mat-label>Fecha final</mat-label>
          <input [(ngModel)]="calendar.fec_fin" matInput [matDatepicker]="fecFinPicker" required>
          <mat-datepicker-toggle matIconSuffix [for]="fecFinPicker"></mat-datepicker-toggle>
          <mat-datepicker #fecFinPicker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Salir</button>
    <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar cambios</button>
  </div>