.gestion-ancho {
    text-align: center; /* Asegura que todo el contenido esté centrado */
    width: 12%;
  }
  .estatus-ancho {
    width: 4%;
  }

  .cedula-ancho {
    width: 4%;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  