.estatus-ancho {
    width: 4%;
  }
  .carnet-ancho {
    width: 4%;
  }
  .ult-per-ancho {
    width: 9%;
  }
  .cedula-ancho {
    width: 5%;
  }
  .cohorte-ancho {
    width: 3%;
  }
  .trayecto-ancho {
    width: 2%;
  }