.estatus-ancho {
    width: 4%;
  }
  .carnet-ancho {
    width: 4%;
  }
  .ult-per-ancho {
    width: 9%;
  }
  .cedula-ancho {
    width: 11%;
  }
  .cohorte-ancho {
    width: 3%;
  }
  .trayecto-ancho {
    width: 2%;
  }

  .carnet-hipervinculo {
    color: #007bff; /* Color azul típico de los enlaces */
    cursor: pointer; /* Cambia el cursor a una mano para indicar clickeabilidad */
    text-decoration: underline; /* Subraya el texto para parecerse a un enlace */
}

/* Opcional: Cambiar el color al pasar el mouse para mejorar la interactividad */
.carnet-hipervinculo:hover {
    color: #0056b3; /* Un azul más oscuro al pasar el mouse */
}