.custom-justify {
    text-align: justify;
}

.custom-modal-footer {
    text-align: center;
}

.custom-button {
    background-color: #003E85;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}