<!-- <form (submit)="buscar()">
    <label> Campo 1: <input type="text" name="campo1"> </label>
    <label> Campo 2: <input type="text" name="campo2"> </label>
    <button type="submit"> Buscar </button>
  </form>
  
  <div *ngIf="resultados && resultados.length > 0">
    <table mat-table>
     Aquí van las columnas de la tabla 
    </table>
  </div>
  
  <div *ngIf="!resultados || resultados.length === 0">
    Aquí va el modal 
  </div> -->

  <c-row>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Cargar calificaciones por motivo de acto de grado</strong>
           <small>USAR ESTE MÓDULO EXCLUSIVAMENTE PARA CARGAR TODAS LAS NOTAS DEL PROGRAMA</small>
        </c-card-header>
        <c-card-body>
          <p class="text-medium-emphasis small">
            Ingresa el Carnet o la cédula sin puntos y luego selecciona sobre el registro a cargar las calificaciones.
          </p>
          <form #formSearchPersona="ngForm" (ngSubmit)="searchPersona(formSearchPersona)">
          <c-input-group class="mb-3">
            <input cFormControl placeholder="Carnet" sizing="sm" type="text" [(ngModel)]="carnet" maxlength="10" name="carnet"/> &nbsp;
            <input  cFormControl placeholder="Cédula" sizing="sm" type="number" min="0" [(ngModel)]="cedula" name="cedula" /> &nbsp;
            <button cButton color="primary" type="submit"> <svg cIcon class="me-2" name="cilMagnifyingGlass"></svg>&nbsp;Buscar</button>
          </c-input-group>
        </form>
        </c-card-body>      
      </c-card>
      <div *ngIf="hayResultados" class="mat-elevation-z8">
        <button cButton color="primary" type="button" (click)="obtenerYDescargarPDF()"> <svg cIcon class="me-2" name="cilMagnifyingGlass"></svg>&nbsp;Descargar Record</button>&nbsp;
        <button cButton color="primary" type="button" (click)="obtenerResumen()"> <svg cIcon class="me-2" name="cilMagnifyingGlass"></svg>&nbsp;Descargar Resumen</button>
        &nbsp;
        <button cButton color="primary" type="button" (click)="obtenerNotasCertificadasSecre()"> <svg cIcon class="me-2" name="cilMagnifyingGlass"></svg>&nbsp;Notas Certificadas</button>
        <table mat-table [dataSource]="dataSource" [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0 border" cTable>
        
        <!-- Columna de carnet -->
        <ng-container matColumnDef="carnet">
            <th class="carnet-ancho" mat-header-cell *matHeaderCellDef  > Carnet </th>
            <td class="carnet-ancho" mat-cell *matCellDef="let row"> {{row.carnet}}</td>
          </ng-container>

        <!-- Columna de cohorte -->
        <ng-container matColumnDef="cohorte">
          <th class="cohorte-ancho" mat-header-cell *matHeaderCellDef  > Cohorte</th>
          <td class="cohorte-ancho" mat-cell *matCellDef="let row"> {{row.cohorte}}</td>
        </ng-container>

          <!-- Columna de cedula / rif -->
          <ng-container matColumnDef="cedula">
            <th class="cedula-ancho" mat-header-cell *matHeaderCellDef > C.I.</th>
            <td class="cedula-ancho" mat-cell *matCellDef="let row"> 
              <div *ngIf="row.nac== 'V' || row.nac== 'E' || row.nac== 'P'" class="flex-goew-1">{{row.nac}}-{{row.ced_pas}}</div>
              
            </td>
          </ng-container>
  
          <!-- Columna de nombre -->
          <ng-container matColumnDef="nombre_persona">
            <th mat-header-cell *matHeaderCellDef  > Nombre estudiante </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre_completo}}</td>
          </ng-container>

          <!-- Columna de PNF -->
          <ng-container matColumnDef="pnf">
            <th mat-header-cell *matHeaderCellDef  > Programa </th>
            <td mat-cell *matCellDef="let row"> {{row.programa}}</td>
          </ng-container>

           <!-- Columna de PNF -->
           <ng-container matColumnDef="grado">
            <th mat-header-cell *matHeaderCellDef  > Grado </th>
            <td mat-cell *matCellDef="let row"> {{row.titulo_certif_corto}}</td>
          </ng-container>

          <!-- Columna de PNF -->
          <ng-container matColumnDef="plan">
            <th mat-header-cell *matHeaderCellDef  > Plan </th>
            <td mat-cell *matCellDef="let row"> {{row.cod_plan}}-{{row.estatus_plan}} </td>
          </ng-container>

  
          <!-- Columna de detalle -->
          <!-- <ng-container matColumnDef="detalles">
            <th class="det-ancho" mat-header-cell *matHeaderCellDef > Detalles </th>
            <td class="det-ancho" mat-cell *matCellDef="let row">
              <div>
                <button  cButton color="vcbu" variant="outline">
                  <svg cIcon name="cilMagnifyingGlass"></svg></button>
              </div> 

            </td>
  
          </ng-container>
          -->
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns" align="center"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onFilaClic(row.tipo_titulacion,row.carnet)"></tr>
      
          <!-- Row shown when there is no matching data. -->
          
        </table>
      </div>
      <div *ngIf="sinResultados">
        <c-alert color="info" class="d-flex align-items-center">
          <svg cIcon class="me-2" width="24" height="24" name="cilInfo"></svg>
          <div>Estudiante no ha iniciado proceso de migración, no se pueden cargar notas históricas.</div>
        </c-alert>
      </div>

<div>
                <!-- Detalles del plan de estudios seleccionado, si se seleccionó alguno -->
                <div>
                  <div *ngIf="trayectos.length > 0" class="instrucciones-trayectos">
                    <br>
                      <p>
                        <svg cIcon name="cil-info" class="me-2"></svg>
                        Por favor pulse sobre cada trayecto para ir cargando las calificaciones que corresponden a cada uno.
                      </p>
                    </div>
                  <mat-accordion #accordion>
                    <!-- Iterar sobre los trayectos del plan seleccionado -->
                    <mat-expansion-panel *ngFor="let trayecto of trayectos; trackBy: trackByCodigoUC" (opened)="cargarUnidadesCurriculares(trayecto.id)">
                      <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                        <mat-panel-title>
                          {{ trayecto.nombre_trayecto }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>                      
                      <div>
                        <br>
                        <div *ngIf="sinResultadosUC">
                          <!-- Mensaje cuando no hay resultados -->
                          <c-alert color="info" class="d-flex align-items-center">
                            <svg cIcon class="me-2" width="24" height="24" name="cilInfo"></svg>
                            <div>{{ mensajeSinResultados }}</div>
                          </c-alert>
                        </div>
                          <div *ngIf="unidadesCurriculares.length">
                              <table mat-table [dataSource]="unidadesCurriculares">
                                  <!-- Columnas del mat-table -->
                                  <ng-container matColumnDef="noCursado">
                                    <th mat-header-cell *matHeaderCellDef> No Cursado </th>
                                    <td mat-cell *matCellDef="let uc">
                                      <input type="checkbox" [(ngModel)]="uc.noCursado" (change)="onNoCursadoChange(uc)">
                                    </td>
                                  </ng-container>

                                  <ng-container matColumnDef="codigo_uc">
                                    <th mat-header-cell *matHeaderCellDef> Código UC </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="nombre_uc">
                                    <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                                  </ng-container>
  
                                  <ng-container matColumnDef="creditos">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Créditos </th>
                                    <td mat-cell *matCellDef="let uc" class="text-center"> {{ uc.creditos }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="minima">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Mín. Aprob </th>
                                    <td mat-cell *matCellDef="let uc" class="text-center"> {{ uc.nota_aprobatoria_final }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="electiva">
                                    <th mat-header-cell *matHeaderCellDef class="text-center" > Electiva </th>
                                    <td mat-cell *matCellDef="let uc" class="text-center" > {{ uc.es_electiva }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="periodo">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Período </th>
                                    <td mat-cell *matCellDef="let uc" class="text-center">
                                      <select [(ngModel)]="uc.periodoSeleccionado" (change)="onPeriodoChange(uc)" [disabled]="uc.noCursado">
                                        <option *ngFor="let periodo of uc.periodosFiltrados || periodos; trackBy: trackByPeriodo" [value]="periodo.periodo">{{ periodo.periodo }}</option>
                                      </select>
                                    </td>
                                  </ng-container>

                                  <ng-container matColumnDef="calificacion">
                                    <th class="ancho-nota" mat-header-cell *matHeaderCellDef class="text-center" > Calificación </th>
                                    <td class="ancho-nota" mat-cell *matCellDef="let uc" class="text-center">
                                      <input type="number" [disabled]="!uc.periodoSeleccionado || uc.noCursado"
                                             [(ngModel)]="uc.calificacion"
                                             (change)="validarCalificacion(uc)"
                                             min="1" max="20" style="width: 60px;">
                                    </td>
                                  </ng-container>
                                  
                                  <ng-container matColumnDef="condicion">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Condición </th>
                                    <td mat-cell *matCellDef="let uc" class="text-center">
                                      <!-- No Cursado -->
                                      <svg *ngIf="uc.noCursado" cIcon width="30" height="30" name="cilBan" style="color: gray;"
                                          cTooltip="No Cursado" cTooltipPlacement="right"></svg>
                                  
                                      <!-- Sin Calificar -->
                                      <svg *ngIf="!uc.noCursado && (uc.calificacion == null || uc.calificacion === '')" cIcon width="30" height="30" name="cilHistory" style="color: gray;"
                                          cTooltip="Sin Calificar" cTooltipPlacement="right"></svg>
                                  
                                      <!-- Aprobado -->
                                      <svg *ngIf="!uc.noCursado && isApproved(uc)" cIcon width="30" height="30" name="cilCheck" style="color: green;"
                                        cTooltip="Aprobado" cTooltipPlacement="right"></svg>
                                  
                                      <!-- Error -->
                                      <svg *ngIf="!uc.noCursado && isOutOfRange(uc)" cIcon width="30" height="30" name="cilBan" style="color: red;"
                                        cTooltip="Error: Calificación fuera de rango" cTooltipPlacement="right"></svg>
                                  
                                      <!-- Reprobado -->
                                      <svg *ngIf="!uc.noCursado && isFailed(uc)" cIcon width="30" height="30" name="cilXCircle" style="color: red;"
                                      cTooltip="Reprobado" cTooltipPlacement="right"></svg>
                                    </td>
                                  </ng-container>
                                  
                                  <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                                  <tr mat-header-row *matHeaderRowDef="['noCursado','codigo_uc', 'nombre_uc', 'creditos', 'minima','electiva','periodo','calificacion','condicion']"></tr>
                                  <tr mat-row *matRowDef="let row; columns: ['noCursado','codigo_uc', 'nombre_uc', 'creditos', 'minima','electiva','periodo', 'calificacion','condicion'];"></tr>
                                </table>
                            </div>
                      </div>
                      <div class="text-end mt-3" *ngIf="!sinResultadosUC">
                        <button type="button" class="btn btn-primary" (click)="guardarCalificaciones()" [disabled]="!validarCalificacionesCompletas()">
                          <svg cIcon class="me-2" name="cil-cloud-upload"></svg>Guardar calificaciones
                        </button>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                  <br>
                </div>
</div>
    </c-col>
  </c-row>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
    <p style="color: white" align="center">Por favor espere... <br>¡Consultando información!</p>
  </ngx-spinner>