<mat-card  class="mat-card">
    <div  class="button-container-top"><button  color="accent" mat-mini-fab=""
        matstepperprevious="" type="button" class="mat-mini-fab mat-accent"><span class="mat-button-wrapper"><mat-icon
             class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
            aria-hidden="true">arrow_back</mat-icon></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button><button  color="accent" mat-mini-fab="" type="button"
        class="mat-mini-fab mat-accent"><span class="mat-button-wrapper"><mat-icon 
            class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
            aria-hidden="true">arrow_forward</mat-icon></span>
        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </button></div><mat-card-title-group  class="mat-card-title-group">
      <div><mat-card-title  class="mat-card-title">Actualización de
          datos</mat-card-title><mat-card-subtitle  class="mat-card-subtitle">Dirección
          principal</mat-card-subtitle><mat-card-subtitle  class="mat-card-subtitle">Cumple con la
          normativa de Sudeban en cuanto a mantener tus datos actualizados</mat-card-subtitle></div>
    </mat-card-title-group><mat-divider  class="mat-divider mat-divider-horizontal" role="separator"
      aria-orientation="horizontal"></mat-divider><mat-card-content 
      class="mat-card-content"><form
        class="ng-pristine ng-touched ng-valid">
        <form _ngcontent-wtb-c46="" class="form-full-width ng-pristine ng-touched ng-valid" novalidate="">
          <div _ngcontent-wtb-c46="" class="row">
            <div _ngcontent-wtb-c46="" class="col l12 m12 s12"><label _ngcontent-wtb-c46="" class="label-custom">Ubicación
                geográfica</label></div>
            <div _ngcontent-wtb-c46="" class="col l3 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-99 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-100 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="estadoId" placeholder="Estado" role="listbox" id="mat-select-19" tabindex="0"
                        aria-label="Estado" aria-required="false" aria-disabled="false" aria-invalid="false"
                        aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-100 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-100 ng-star-inserted">MIRANDA</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-99 ng-star-inserted" id="mat-form-field-label-125"
                          for="mat-select-19" aria-owns="mat-select-19"><!----><!---->Estado<!----><!----></label></span>
                    </div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-99 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-99 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
            <div _ngcontent-wtb-c46="" class="col l3 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-101 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched ng-valid mat-form-field-should-float">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-102 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="ciudadId" placeholder="Ciudad" role="listbox" id="mat-select-20" tabindex="0"
                        aria-label="Ciudad" aria-required="false" aria-disabled="false" aria-invalid="false"
                        aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-102 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-102 ng-star-inserted">CHARALLAVE</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-101 ng-star-inserted" id="mat-form-field-label-127"
                          for="mat-select-20" aria-owns="mat-select-20"><!----><!---->Ciudad<!----><!----></label></span>
                    </div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-101 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-101 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
            <div _ngcontent-wtb-c46="" class="col l3 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-103 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched ng-valid mat-form-field-should-float">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-104 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="municipioId" placeholder="Municipio" role="listbox" id="mat-select-21"
                        tabindex="0" aria-label="Municipio" aria-required="false" aria-disabled="false"
                        aria-invalid="false" aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-104 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-104 ng-star-inserted">CRISTOBAL ROJAS</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-103 ng-star-inserted" id="mat-form-field-label-129"
                          for="mat-select-21"
                          aria-owns="mat-select-21"><!----><!---->Municipio<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-103 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-103 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
            <div _ngcontent-wtb-c46="" class="col l3 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-105 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched ng-valid mat-form-field-should-float">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-106 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="parroquiaId" placeholder="Parroquia" role="listbox" id="mat-select-22"
                        tabindex="0" aria-label="Parroquia" aria-required="false" aria-disabled="false"
                        aria-invalid="false" aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-106 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-106 ng-star-inserted">CHARALLAVE</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-105 ng-star-inserted" id="mat-form-field-label-131"
                          for="mat-select-22"
                          aria-owns="mat-select-22"><!----><!---->Parroquia<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-105 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-105 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
          </div>
          <div _ngcontent-wtb-c46="" class="row">
            <div _ngcontent-wtb-c46="" class="col l12"><label _ngcontent-wtb-c46="" class="label-custom">Vía</label></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-107 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-108 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="viaId" mattooltip="Lugar por el que circula" mattooltipposition="above"
                        placeholder="Tipo de vía" role="listbox" cdk-describedby-host="" id="mat-select-23" tabindex="0"
                        aria-label="Tipo de vía" aria-required="false" aria-disabled="false" aria-invalid="false"
                        aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-108 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-108 ng-star-inserted">MANZANA</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-107 ng-star-inserted" id="mat-form-field-label-133"
                          for="mat-select-23" aria-owns="mat-select-23"><!----><!---->Tipo de
                          vía<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-107 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-107 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-109 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><input _ngcontent-wtb-c46=""
                        class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-pristine ng-touched ng-valid"
                        formcontrolname="viaDescripcion" matinput="" mattooltip="Nombre de la via por la cual circula"
                        mattooltipposition="above" placeholder="Nombre de vía" cdk-describedby-host="" id="mat-input-43"
                        aria-invalid="false" aria-required="false"><span
                        class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-109 ng-star-inserted" id="mat-form-field-label-135"
                          for="mat-input-43" aria-owns="mat-input-43"><!----><!---->Nombre de
                          vía<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-109 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-109 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
          </div>
          <div _ngcontent-wtb-c46="" class="row">
            <div _ngcontent-wtb-c46="" class="col l12" style="margin-top: 15px"><label _ngcontent-wtb-c46=""
                class="label-custom">Núcleo</label></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-110 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-111 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="nucleoId" mattooltip="Urbanismo por donde se encuentra la vivienda"
                        mattooltipposition="above" placeholder="Tipo de núcleo" role="listbox" cdk-describedby-host=""
                        id="mat-select-24" tabindex="0" aria-label="Tipo de núcleo" aria-required="false"
                        aria-disabled="false" aria-invalid="false" aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-111 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-111 ng-star-inserted">URBANIZACIÓN</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-110 ng-star-inserted" id="mat-form-field-label-137"
                          for="mat-select-24" aria-owns="mat-select-24"><!----><!---->Tipo de
                          núcleo<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-110 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-110 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-112 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><input _ngcontent-wtb-c46=""
                        class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-pristine ng-touched ng-valid"
                        formcontrolname="nucleoDescripcion" matinput=""
                        mattooltip="Nombre del urbanismo donde se encuentra la vivienda" mattooltipposition="above"
                        placeholder="Descripción de núcleo" cdk-describedby-host="" id="mat-input-44" aria-invalid="false"
                        aria-required="false"><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-112 ng-star-inserted" id="mat-form-field-label-139"
                          for="mat-input-44" aria-owns="mat-input-44"><!----><!---->Descripción de
                          núcleo<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-112 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-112 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
          </div>
          <div _ngcontent-wtb-c46="" class="row">
            <div _ngcontent-wtb-c46="" class="col l12" style="margin-top: 15px"><label _ngcontent-wtb-c46=""
                class="label-custom">Construcción</label></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-113 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-114 ng-pristine ng-star-inserted ng-touched ng-valid"
                        formcontrolname="construccionId" mattooltip="Fabricación de la vivienda"
                        mattooltipposition="above" placeholder="Tipo de construcción" role="listbox"
                        cdk-describedby-host="" id="mat-select-25" tabindex="0" aria-label="Tipo de construcción"
                        aria-required="false" aria-disabled="false" aria-invalid="false" aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-114 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-114 ng-star-inserted">EDIFICIO</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-113 ng-star-inserted" id="mat-form-field-label-141"
                          for="mat-select-25" aria-owns="mat-select-25"><!----><!---->Tipo de
                          construcción<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-113 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-113 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-115 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><input _ngcontent-wtb-c46=""
                        class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-pristine ng-touched ng-valid"
                        formcontrolname="construccionDescripcion" matinput=""
                        mattooltip="Nombre del edificio, casa, residencia, otros" mattooltipposition="above"
                        placeholder="Descripción de construcción" cdk-describedby-host="" id="mat-input-45"
                        aria-invalid="false" aria-required="false"><span
                        class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-115 ng-star-inserted" id="mat-form-field-label-143"
                          for="mat-input-45" aria-owns="mat-input-45"><!----><!---->Descripción de
                          construcción<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-115 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-115 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
          </div>
          <div _ngcontent-wtb-c46="" class="row" style="display: none">
            <div _ngcontent-wtb-c46="" class="col l12"><label _ngcontent-wtb-c46="" class="label-custom">Condición de
                Vivienda</label></div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s12"><mat-form-field _ngcontent-wtb-c46=""
                class="mat-form-field ng-tns-c11-116 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-valid ng-touched mat-form-field-should-float">
                <div class="mat-form-field-wrapper">
                  <div class="mat-form-field-flex"><!----><!---->
                    <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                        class="mat-select ng-tns-c36-117 ng-pristine ng-valid ng-star-inserted ng-touched"
                        formcontrolname="viviendaTipoId" placeholder="Tipo condición de vivienda" role="listbox"
                        id="mat-select-26" tabindex="0" aria-label="Tipo condición de vivienda" aria-required="false"
                        aria-disabled="false" aria-invalid="false" aria-multiselectable="false">
                        <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                          <div class="mat-select-value"><!----><!----><span
                              class="mat-select-value-text ng-tns-c36-117 ng-star-inserted" style=""><!----><span
                                class="ng-tns-c36-117 ng-star-inserted">ALQUILADA</span><!----></span></div>
                          <div class="mat-select-arrow-wrapper">
                            <div class="mat-select-arrow"></div>
                          </div>
                        </div><!---->
                      </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                          class="mat-form-field-label ng-tns-c11-116 ng-star-inserted" id="mat-form-field-label-145"
                          for="mat-select-26" aria-owns="mat-select-26"><!----><!---->Tipo condición de
                          vivienda<!----><!----></label></span></div><!---->
                  </div><!---->
                  <div class="mat-form-field-underline ng-tns-c11-116 ng-star-inserted"><span
                      class="mat-form-field-ripple"></span></div>
                  <div class="mat-form-field-subscript-wrapper"><!----><!---->
                    <div
                      class="mat-form-field-hint-wrapper ng-tns-c11-116 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                      style="opacity: 1; transform: translateY(0%);"><!---->
                      <div class="mat-form-field-hint-spacer"></div>
                    </div>
                  </div>
                </div>
              </mat-form-field><!----></div>
          </div><!---->
          <div _ngcontent-wtb-c46="" class="row ng-star-inserted">
            <div _ngcontent-wtb-c46="" class="col l6 m6 s6">
              <div _ngcontent-wtb-c46="" class="row">
                <div _ngcontent-wtb-c46="" class="col l12"><label _ngcontent-wtb-c46="" class="label-custom">Complemento
                    (Piso, Mzz, Apto)</label></div>
                <div _ngcontent-wtb-c46="" class="col l12 m12 s12"><mat-form-field _ngcontent-wtb-c46=""
                    class="mat-form-field ng-tns-c11-118 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                    <div class="mat-form-field-wrapper">
                      <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><input _ngcontent-wtb-c46=""
                            class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored ng-pristine ng-touched ng-valid"
                            formcontrolname="pisoDescripcion" matinput=""
                            mattooltip="Descripción de donde se encuentra la vivienda" mattooltipposition="above"
                            placeholder="Descripción de la vivienda" cdk-describedby-host="" id="mat-input-46"
                            aria-invalid="false" aria-required="false"><span
                            class="mat-form-field-label-wrapper"><!----><label
                              class="mat-form-field-label ng-tns-c11-118 ng-star-inserted" id="mat-form-field-label-147"
                              for="mat-input-46" aria-owns="mat-input-46"><!----><!---->Descripción de la
                              vivienda<!----><!----></label></span></div><!---->
                      </div><!---->
                      <div class="mat-form-field-underline ng-tns-c11-118 ng-star-inserted"><span
                          class="mat-form-field-ripple"></span></div>
                      <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div
                          class="mat-form-field-hint-wrapper ng-tns-c11-118 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                          style="opacity: 1; transform: translateY(0%);"><!---->
                          <div class="mat-form-field-hint-spacer"></div>
                        </div>
                      </div>
                    </div>
                  </mat-form-field><!----></div>
              </div>
            </div>
            <div _ngcontent-wtb-c46="" class="col l6 m6 s6">
              <div _ngcontent-wtb-c46="" clas="row">
                <div _ngcontent-wtb-c46="" class="col l12"><label _ngcontent-wtb-c46="" class="label-custom">Zona
                    postal</label></div>
                <div _ngcontent-wtb-c46="" class="col l6 m6 s8"><mat-form-field _ngcontent-wtb-c46=""
                    class="mat-form-field ng-tns-c11-119 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-touched mat-form-field-should-float ng-valid">
                    <div class="mat-form-field-wrapper">
                      <div class="mat-form-field-flex"><!----><!---->
                        <div class="mat-form-field-infix"><mat-select _ngcontent-wtb-c46=""
                            class="mat-select ng-tns-c36-120 ng-pristine ng-star-inserted ng-touched ng-valid"
                            formcontrolname="zonaPostalId" placeholder="Zona postal" role="listbox" id="mat-select-27"
                            tabindex="0" aria-label="Zona postal" aria-required="false" aria-disabled="false"
                            aria-invalid="false" aria-multiselectable="false">
                            <div class="mat-select-trigger" aria-hidden="true" cdk-overlay-origin="">
                              <div class="mat-select-value"><!----><!----><span
                                  class="mat-select-value-text ng-tns-c36-120 ng-star-inserted" style=""><!----><span
                                    class="ng-tns-c36-120 ng-star-inserted">1210 (1210)</span><!----></span></div>
                              <div class="mat-select-arrow-wrapper">
                                <div class="mat-select-arrow"></div>
                              </div>
                            </div><!---->
                          </mat-select><span class="mat-form-field-label-wrapper"><!----><label
                              class="mat-form-field-label ng-tns-c11-119 ng-star-inserted" id="mat-form-field-label-149"
                              for="mat-select-27" aria-owns="mat-select-27"><!----><!---->Zona
                              postal<!----><!----></label></span></div><!---->
                      </div><!---->
                      <div class="mat-form-field-underline ng-tns-c11-119 ng-star-inserted"><span
                          class="mat-form-field-ripple"></span></div>
                      <div class="mat-form-field-subscript-wrapper"><!----><!---->
                        <div
                          class="mat-form-field-hint-wrapper ng-tns-c11-119 ng-trigger ng-trigger-transitionMessages ng-star-inserted"
                          style="opacity: 1; transform: translateY(0%);"><!---->
                          <div class="mat-form-field-hint-spacer"></div>
                        </div>
                      </div>
                    </div>
                  </mat-form-field><!----></div>
                <div _ngcontent-wtb-c46="" class="col l2 m2 s4"><button _ngcontent-wtb-c46="" color="accent"
                    mat-mini-fab="" mattooltip="Presione para buscar su zona postal" mattooltipposition="above"
                    type="button" class="mat-mini-fab mat-accent" aria-describedby="cdk-describedby-message-8"
                    cdk-describedby-host=""><span class="mat-button-wrapper"><mat-icon _ngcontent-wtb-c46=""
                        class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                        aria-hidden="true">search</mat-icon></span>
                    <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                  </button></div>
              </div>
            </div>
          </div><!---->
        </form><!---->
        <div _ngcontent-wtb-c46="" class="ng-star-inserted"><mat-divider _ngcontent-wtb-c46=""
            class="mat-divider mat-divider-horizontal" role="separator" aria-orientation="horizontal"></mat-divider><br
            _ngcontent-wtb-c46="">
          <div _ngcontent-wtb-c46="" class="row">
            <div _ngcontent-wtb-c46="" class="col s12 m12 l12 xl12">
              <div _ngcontent-wtb-c46="" class="add-number-container-title">
                <h3 _ngcontent-wtb-c46="">Números telefónicos</h3><button _ngcontent-wtb-c46=""
                  class="float-right mat-mini-fab mat-accent" color="accent" mat-mini-fab=""><span
                    class="mat-button-wrapper"><mat-icon _ngcontent-wtb-c46=""
                      class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                      aria-hidden="true">add</mat-icon></span>
                  <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>
              <table _ngcontent-wtb-c46="" class="mat-elevation-z8 mat-table" mat-table="" role="grid">
                <thead role="rowgroup"><!---->
                  <tr _ngcontent-wtb-c46="" class="mat-header-row ng-star-inserted" mat-header-row="" role="row"><!---->
                    <th _ngcontent-wtb-c46="" class="mat-header-cell cdk-column-tipo mat-column-tipo ng-star-inserted"
                      mat-header-cell="" role="columnheader"> Tipo </th>
                    <th _ngcontent-wtb-c46=""
                      class="mat-header-cell cdk-column-telefono mat-column-telefono ng-star-inserted" mat-header-cell=""
                      role="columnheader"> Teléfono </th>
                    <th _ngcontent-wtb-c46=""
                      class="mat-header-cell cdk-column-acciones mat-column-acciones ng-star-inserted" mat-header-cell=""
                      role="columnheader"> Acciones </th>
                  </tr>
                </thead>
                <tbody role="rowgroup"><!---->
                  <tr _ngcontent-wtb-c46="" class="mat-row ng-star-inserted" mat-row="" role="row"><!---->
                    <td _ngcontent-wtb-c46="" class="mat-cell cdk-column-tipo mat-column-tipo ng-star-inserted"
                      mat-cell="" role="gridcell"> LOCAL </td>
                    <td _ngcontent-wtb-c46="" class="mat-cell cdk-column-telefono mat-column-telefono ng-star-inserted"
                      mat-cell="" role="gridcell"> 02120011222 </td>
                    <td _ngcontent-wtb-c46="" class="mat-cell cdk-column-acciones mat-column-acciones ng-star-inserted"
                      mat-cell="" role="gridcell"><button _ngcontent-wtb-c46="" mat-icon-button="" mattooltip="Modificar"
                        mattooltipposition="left" class="mat-icon-button" aria-describedby="cdk-describedby-message-9"
                        cdk-describedby-host="" disabled=""><span class="mat-button-wrapper"><mat-icon
                            _ngcontent-wtb-c46="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                            aria-hidden="true">edit</mat-icon></span>
                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button><button _ngcontent-wtb-c46="" mat-icon-button="" mattooltip="Eliminar"
                        mattooltipposition="right" class="mat-icon-button" aria-describedby="cdk-describedby-message-10"
                        cdk-describedby-host="" disabled=""><span class="mat-button-wrapper"><mat-icon
                            _ngcontent-wtb-c46="" class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                            aria-hidden="true">delete</mat-icon></span>
                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button></td>
                  </tr>
                  <tr _ngcontent-wtb-c46="" class="mat-row ng-star-inserted" mat-row="" role="row"><!---->
                    <td _ngcontent-wtb-c46="" class="mat-cell cdk-column-tipo mat-column-tipo ng-star-inserted"
                      mat-cell="" role="gridcell"> LOCAL </td>
                    <td _ngcontent-wtb-c46="" class="mat-cell cdk-column-telefono mat-column-telefono ng-star-inserted"
                      mat-cell="" role="gridcell"> 02392466275 </td>
                    <td _ngcontent-wtb-c46="" class="mat-cell cdk-column-acciones mat-column-acciones ng-star-inserted"
                      mat-cell="" role="gridcell"><button _ngcontent-wtb-c46="" mat-icon-button="" mattooltip="Modificar"
                        mattooltipposition="left" class="mat-icon-button" aria-describedby="cdk-describedby-message-9"
                        cdk-describedby-host=""><span class="mat-button-wrapper"><mat-icon _ngcontent-wtb-c46=""
                            class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                            aria-hidden="true">edit</mat-icon></span>
                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button><button _ngcontent-wtb-c46="" mat-icon-button="" mattooltip="Eliminar"
                        mattooltipposition="right" class="mat-icon-button" aria-describedby="cdk-describedby-message-10"
                        cdk-describedby-host=""><span class="mat-button-wrapper"><mat-icon _ngcontent-wtb-c46=""
                            class="mat-icon notranslate material-icons mat-icon-no-color" role="img"
                            aria-hidden="true">delete</mat-icon></span>
                        <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button></td>
                  </tr>
                </tbody>
                <tfoot role="rowgroup" style="display: none; bottom: 0px; position: sticky; z-index: 10;"
                  class="mat-table-sticky"><!----></tfoot>
              </table>
            </div>
          </div>
        </div>
      </form><!----></mat-card-content>
  </mat-card>