.estudiante-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
    gap: 20px; /* Espacio entre los bloques */
    padding: 20px;
    align-items: flex-start; /* Alinea los elementos superiormente */
}

.foto-estudiante {
    flex: 1 1 120px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.foto-estudiante img {
    width: 150px;  /* Ancho fijo de la imagen */
    height: 200px; /* Alto fijo de la imagen */
    object-fit: cover; /* Asegura que la imagen ocupe todo el espacio y se recorte si es necesario */
    border-radius: 8px; /* Opcional: bordes redondeados */
    margin-bottom: 5px;
}

.btn-cargar-foto {
    padding: 8px 16px;
    background-color: #003E85;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    width: 100%;
    text-align: center; /* Centra el texto dentro del botón */
    transition: background-color 0.3s ease;

    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
        color: #666666;
    }
}

.datos-estudiante-container {
    flex: 2 1 60%; /* Los datos ocupan más espacio, pero pueden encogerse si es necesario */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.datos-estudiante,
.ubicacion-nacimiento,
.informacion-complementaria {
    position: relative;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Espacio entre los bloques y la parte superior */
}

.btn-actualizar {
    position: absolute;
    top: 10px; /* Mantiene el botón en la parte superior derecha */
    right: 10px;
    padding: 6px 12px;
    background-color: #003E85;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem; /* Tamaño de fuente ligeramente reducido para que se ajuste mejor */
    transition: background-color 0.3s ease;
}

.btn-actualizar:hover {
    background-color: #002d6a;
}

@media (max-width: 768px) {
    .datos-estudiante p {
        display: flex;
        flex-direction: column; /* Hace que los elementos dentro de <p> aparezcan en columnas */
    }
    .ubicacion-nacimiento p {
        display: flex;
        flex-direction: column; /* Hace que los elementos dentro de <p> aparezcan en columnas */
    }

    .informacion-complementaria p {
        display: flex;
        flex-direction: column; /* Hace que los elementos dentro de <p> aparezcan en columnas */
    }
    .estudiante-container {
        flex-direction: column;
    }

    .foto-estudiante {
        margin-bottom: 20px;
        align-items: center;
    }

    .datos-estudiante-container {
        width: 100%;
    }

    .btn-actualizar {
        position: static; /* Cambia la posición a estática en móviles */
        margin-top: 15px; /* Añade espacio superior para separar del contenido */
        display: block;
        text-align: center;
        width: 100%; /* Hace que el botón ocupe todo el ancho */
    }
}



.carnet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  canvas {
    border: 1px solid #003E85;
    border-radius: 5px;
  }
  