<div class="modal-header">
    <h4 class="modal-title pull-left">Aviso Importante</h4>
</div>

<div class="modal-body">
    <p>Estimado usuario,</p>
    <p>Actualmente, la UNETRANS no tiene habilitado el proceso de inscripción. 📅 Las fechas serán publicadas oportunamente en nuestras redes sociales. 📢</p>
    <p>Para cualquier duda sobre nuestra oferta formativa, le invitamos a revisarla en el siguiente enlace:</p>
    <p><a href="https://qr.link/SR5e7Z" target="_blank">Oferta Formativa UNETRANS 🌐</a></p>
    <p>Si después de revisar la información aún tiene preguntas, puede escribirnos al correo: <a href="mailto:admision@unetrans.edu.ve">admision@unetrans.edu.ve</a>.</p>
    <p>En caso de problemas con el sistema, por favor contacte a nuestro soporte técnico en: <a href="mailto:soportesice@unetrans.edu.ve">soportesice@unetrans.edu.ve</a>.</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
</div>
