<div class="modal-header custom-modal-header">
    <h1 class="modal-title">📚 Proceso de Inscripción 2024-2025 📅</h1>
</div>

<div class="modal-body ">
    <p>Estimado/a aspirante,</p>
    <p class="custom-justify">
        🎓 <span class="custom-bold">¡Buenas noticias!</span> La OPSU ha realizado la asignación de cupos. Ahora, estamos a la espera del envio de resultados de bachilleres asignados a nuestra casa de estudios para poder precargarlos a nuestro sistema y así dar inicio con el cronograma del proceso de inscripción 2024-2025. 📝
    </p>
    <p class="custom-justify">
        💡 <span class="custom-bold">¿No fuiste asignado por la OPSU?</span>  No te preocupes, aún puedes <span class="custom-bold">autopostularte</span> y participar en el proceso interno de la UNETRANS para optar por un cupo en alguna de nuestras opciones formativas.
    </p>
    <p style="text-align: center; margin-top: 20px;">
        <a href="https://drive.google.com/file/d/1AkGBPxGRiujOQMAYLx7OYFTAk234KOat/view?usp=drive_link" target="_blank" class="custom-link">
            🌐 Ver Oferta Formativa UNETRANS
        </a>
    </p>
    <p class="custom-justify">
        Si después de revisar la información aún tienes preguntas, puedes escribirnos al correo: 
        <a href="mailto:admision@unetrans.edu.ve" class="custom-email-link">admision&#64;unetrans.edu.ve</a>.
    </p>
    <p class="custom-justify">
        En caso de problemas con el sistema, por favor contacta a nuestro soporte técnico en: 
        <a href="mailto:soportesice@unetrans.edu.ve" class="custom-email-link">soportesice&#64;unetrans.edu.ve</a>.
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary custom-button" (click)="closeModal()">✔️ He leído y comprendido</button>
</div>
