<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Gestión de Oferta Académica</strong> &nbsp; <small>Módulo para gestión de actas por Programa</small>
            &nbsp;
            <!-- <button  cButton color="primary" size="sm" data-toggle="modal" (click)="gestionNewSeccion.show()"> <svg cIcon class="me-2" name="cilUserPlus"></svg>Nuevo aspirante</button> -->
        </c-card-header>
        <c-card-body>
            Listado de trayectos, unidades curriculares y actas (secciones).
            <br>
            <div class="row">
                <div class="col s12"><label>Seleccione un PNF:</label>
                    <mat-form-field>
                        <mat-label>PNF:</mat-label>
                        <mat-select [(ngModel)]="carreraSeleccionada"
                            (selectionChange)="onPnfSeleccionado(carreraSeleccionada)">
                            <mat-option [value]="item.codelemento"
                                *ngFor="let item of carreras">{{item.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col s12"><label>Seleccione un Periodo:</label>
                    <mat-form-field>
                        <mat-label>Periodo:</mat-label>
                        <mat-select [disabled]="!carreraSeleccionada" [(ngModel)]="periodoSeleccionado"
                            (ngModelChange)="onPeriodoSeleccionado(carreraSeleccionada,periodoSeleccionado)">
                            <mat-option [value]="tray.periodo"
                                *ngFor="let tray of periodos">{{tray.periodo_estatus}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-accordion >
                    <mat-expansion-panel *ngFor="let dato2 of trayectos" [hidden]="!mostrarTrayectos">
                        <mat-expansion-panel-header
                            class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                            <mat-panel-title>
                                {{dato2.nombre_trayecto}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <br>
                        <mat-expansion-panel *ngFor="let dato3 of dato2.uni_curricular">
                            <mat-expansion-panel-header
                                class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                                <mat-panel-title (click)="setSelectedCodUcurr(dato3.cod_ucurr)">
                                    {{dato3.cod_ucurr}}-{{dato3.nombre_uni_curr}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <br>
                            <ng-container *ngIf="dato3.oferta.length > 0; else noData">
                                <button cButton color="light" size="sm" (click)="gestionNewSeccion.show()" [attr.data-target]="'#modal-' + dato3.cod_ucurr"> <svg cIcon
                                        class="me-2" name="cilPlaylistAdd"></svg>Abrir sección</button>
                                <table mat-table [dataSource]="dato3.oferta" [hover]="true" cTable>
                                    <tr>
                                        <ng-container matColumnDef="acta">
                                            <th mat-header-cell *matHeaderCellDef> Acta</th>
                                            <td mat-cell *matCellDef="let row">{{row.acta}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="seccion">
                                            <th mat-header-cell *matHeaderCellDef> Sección</th>
                                            <td mat-cell *matCellDef="let row">{{row.seccion}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="tipo">
                                            <th mat-header-cell *matHeaderCellDef> Tipo</th>
                                            <td mat-cell *matCellDef="let row">{{row.tipo_secc}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="cupos">
                                            <th mat-header-cell *matHeaderCellDef> Cupos</th>
                                            <td mat-cell *matCellDef="let row">{{row.cupos_ini}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="cupos_dis">
                                            <th mat-header-cell *matHeaderCellDef> Cupos disp.</th>
                                            <td mat-cell *matCellDef="let row">{{row.cupos_disp}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="doc_asignado">
                                            <th mat-header-cell *matHeaderCellDef> Docente</th>
                                            <td mat-cell *matCellDef="let row">{{row.prof_asignado}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                            <td mat-cell *matCellDef="let peracad">
                                                <div>
                                                    <button cButton class="btn-primary" data-toggle="modal"
                                                        cTooltip="Ver acta" cTooltipPlacement="top">
                                                        <svg cIcon name="cilMagnifyingGlass"></svg></button>&nbsp;
                                                    <button cButton class="btn-primary" data-toggle="modal"
                                                        cTooltip="Modificar" cTooltipPlacement="top">
                                                        <svg cIcon name="cil-pencil"></svg></button>&nbsp;
                                                    <button cButton class="btn-primary" data-toggle="modal"
                                                        cTooltip="Eliminar" cTooltipPlacement="top">
                                                        <svg cIcon name="cilTrash"></svg></button>
                                                </div>
                                            </td>
                                        </ng-container>
                                    </tr>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>

                            </ng-container>
                            <ng-template #noData>
                                <button cButton color="light" size="sm" (click)="gestionNewSeccion.show()" [attr.data-target]="'#modal-' + dato3.cod_ucurr"> <svg cIcon
                                        class="me-2" name="cilPlaylistAdd"></svg>Abrir sección</button>
                                <c-alert color="info" class="d-flex align-items-center">
                                    <svg cIcon class="me-2" width="24" height="24" name="cilBellExclamation"></svg>
                                    <div>No existen secciones creadas</div>
                                </c-alert>
                            </ng-template>

<!-- Modal -->
<div bsModal #gestionNewSeccion="bs-modal" [id]="'modal-' + dato3.cod_ucurr" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" >Crear nueva sección: {{dato3.nombre_uni_curr}}</h2>
        </div>
        <div class="modal-body">
            <form #f="ngForm" [formGroup]="firstFormGroup" >
                 <div class="row">
                    <div class="col s12"><label>Codigo unidad curricular:</label>
                        <mat-form-field>
                          <mat-label>Código:</mat-label>
                          <input style='text-transform:uppercase' [(ngModel)]="selectedCodUcurr" matInput readonly formControlName="selectedCodUcurr" name="selectedCodUcurr">
                        </mat-form-field>
                  </div>
                    <div class="col s12"><label>Indique el nro de la sección:</label>
                          <mat-form-field>
                            <mat-label>Sección:</mat-label>
                            <input [(ngModel)]="seccion" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="number" min="1" max="99" matInput formControlName="seccion"
                              name="seccion" required>
                          </mat-form-field>
                    </div>
                    <div class="col s12"><label>Indique el tipo de sección:</label>
                        <mat-form-field>
                            <mat-label>Tipo de sección:</mat-label>
                            <mat-select  [(ngModel)]="tiposeccion" formControlName="tiposeccion">
                              <mat-option [value]="modin.codelemento"
                              *ngFor="let modin of tseccion">{{modin.descripcion}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col s12"><label>Indique los cupos máximos:</label>
                        <mat-form-field>
                          <mat-label>Cantidad de cupos:</mat-label>
                          <input [(ngModel)]="cuposmax" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="number" min="1" max="99" matInput formControlName="cuposmax"
                              name="cuposmax" required>
                        </mat-form-field>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col l12 m12 s12">
                      <label>Docente asignado:</label>
                      <div class="row mar-b-0">
                        <div class="col s12">
                          <mat-form-field>
                            <mat-label>Seleccione docente:</mat-label>
                            <input style='text-transform:uppercase' [(ngModel)]="docente" matInput formControlName="docente" name="docente">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" [(ngModel)]="usr.usrsice"  formControlName="usrsice" >
                  <input type="hidden" [(ngModel)]="carreraSeleccionada"  formControlName="carreraSeleccionada" >
                  <input type="hidden" [(ngModel)]="periodoSeleccionado"  formControlName="periodoSeleccionado" >
            </form>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="gestionNewSeccion.hide()">Cerrar</button>
          <button type="button" class="btn btn-primary" [disabled]="!firstFormGroup.valid" (click)="gestionNewSeccion.hide()" (click)="guardar()"><svg cIcon class="me-2" name="cil-cloud-upload"></svg>Crear sección</button>
        </div>
      </div>
    </div>
  </div>
                        </mat-expansion-panel>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </c-card-body>
    </c-card>
</c-col>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
    <p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
</ngx-spinner>