.carnet-ancho {
    width: 4%;
  }

  .cedula-ancho {
    width: 10%;
  }

  .orden-ancho {
    width: 2%;
  }
/* Estilo para centrar el contenido de las celdas y encabezados */
/* Estilos para centrar el contenido de la columna "Inscritos" */
.center-inscritos {
  text-align: center;
  //display: flex;
  justify-content: center;
  align-items: center;
}

