<c-col xs="12">
  <c-card class="mb-4">
    <c-card-header>
      <strong>Gestión de Oferta Académica</strong> &nbsp; <small>Módulo para gestión de actas por Programa</small>
      &nbsp;
      <!-- <button  cButton color="primary" size="sm" data-toggle="modal" (click)="gestionNewSeccion.show()"> <svg cIcon class="me-2" name="cilUserPlus"></svg>Nuevo aspirante</button> -->
    </c-card-header>
    <c-card-body>
      <p>Listado de trayectos, unidades curriculares y actas (secciones).</p>
      <form [formGroup]="form">
        <div class="row">
          <div class="col s12">
            <mat-form-field>
              <mat-label>Programa</mat-label>
              <mat-select formControlName="carreraSeleccionada" (selectionChange)="onPnfSeleccionado($event.value)">
                <mat-option [value]="item.codelemento" *ngFor="let item of carreras">{{item.descripcion}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s12">
            <mat-form-field>
              <mat-label>Periodo</mat-label>
              <mat-select formControlName="periodoSeleccionado"
                (selectionChange)="onPeriodoSeleccionado(form.get('carreraSeleccionada')?.value, $event.value)">
                <mat-option [value]="tray.periodo" *ngFor="let tray of periodos">{{tray.periodo_estatus}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s12">
            <mat-form-field>
              <mat-label>Trayecto/Año</mat-label>
              <mat-select formControlName="trayectoSeleccionado"
                (selectionChange)="onTrayectoSeleccionado($event.value)">
                <mat-option [value]="tray" *ngFor="let tray of trayectos">{{tray.nombre_trayecto}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div *ngIf="sinResultados">
        <c-alert color="danger" class="d-flex align-items-center">
          <svg cIcon class="me-2" width="24" height="24" name="cilXCircle"></svg>
          <div>No hay secciones configuradas para ese periodo</div>
        </c-alert>
      </div>

      <div *ngIf="!sinResultados && unidadesCurriculares.length > 0">
        <c-row>
          <p>Resumen estadístico del trayecto/año:</p>
          <c-col sm="4">
            <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3" >
              <div class="text-medium-emphasis small">Total de actas: </div>
              <div class="fs-5 fw-semibold"> {{ estadisticas.actas }}</div>
            </div>
          </c-col>
          <c-col sm="4">
            <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3" >
              <div class="text-medium-emphasis small"> Total de secciones: </div>
              <div class="fs-5 fw-semibold"> {{ estadisticas.secciones }} </div>
            </div>
          </c-col>
          <c-col sm="4">
            <div class="border-start border-start-4 border-start-info py-1 px-3 mb-3" >
              <div class="text-medium-emphasis small">Total de inscritos: </div>
              <div class="fs-5 fw-semibold">{{ estadisticas.inscritos }}</div>
            </div>
          </c-col>
        </c-row>
        <table mat-table [dataSource]="unidadesCurriculares" [hover]="true" [responsive]="true" [striped]="true"
          align="middle" cTable class="mb-0 border" cTable>
          <!-- Acta Column -->
          <ng-container matColumnDef="acta">
            <th mat-header-cell *matHeaderCellDef> Acta</th>
            <td mat-cell *matCellDef="let row">{{row.acta}} </td>
          </ng-container>

          <ng-container matColumnDef="codigo_uc">
            <th mat-header-cell *matHeaderCellDef> Código</th>
            <td mat-cell *matCellDef="let row">{{row.cod_ucurr}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_uc">
            <th mat-header-cell *matHeaderCellDef> Nombre U.C.</th>
            <td mat-cell *matCellDef="let row">{{row.nombre_uc}} </td>
          </ng-container>

          <!-- Sección Column -->
          <ng-container matColumnDef="seccion">
            <th mat-header-cell *matHeaderCellDef> Sección</th>
            <td mat-cell *matCellDef="let row">{{row.seccion}} </td>
          </ng-container>

          <!-- Tipo Column -->
          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo</th>
            <td mat-cell *matCellDef="let row">{{row.tipo_secc}} </td>
          </ng-container>

          <!-- Cupos Column -->
          <ng-container matColumnDef="cupos">
            <th mat-header-cell *matHeaderCellDef> Cupos</th>
            <td mat-cell *matCellDef="let row">{{row.cupos_ini}} </td>
          </ng-container>

          <!-- Cupos Disponibles Column -->
          <ng-container matColumnDef="cupos_dis">
            <th mat-header-cell *matHeaderCellDef> Cupos disp.</th>
            <td mat-cell *matCellDef="let row">{{row.cupos_disp}} </td>
          </ng-container>

          <!-- Docente Asignado Column -->
          <ng-container matColumnDef="doc_asignado">
            <th mat-header-cell *matHeaderCellDef> Docente</th>
            <td mat-cell *matCellDef="let row">{{row.prof_asignado}} </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let row">
              <div class="d-flex flex-wrap">
                <div class="m-1">
                  <button cButton class="btn-primary" data-toggle="modal" (click)="openActaDetail(row.acta)" cTooltip="Ver acta" cTooltipPlacement="top"
                  [disabled]="row.cupos_ini === row.cupos_disp">
                  <svg cIcon name="cilMagnifyingGlass"></svg>
                </button>
                </div>
               
                <div class="m-1">
                  <button cButton class="btn-primary" data-toggle="modal" (click)="editActaDetail(row.acta)" cTooltip="Modificar" cTooltipPlacement="top"
                  [disabled]="row.cupos_ini === row.cupos_disp">
                  <svg cIcon name="cil-pencil"></svg>
                </button>
                </div>
                
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </c-card-body>
  </c-card>
</c-col>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
  <p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
</ngx-spinner>