<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Gestión de Oferta Académica</strong> &nbsp; <small>Módulo para gestión de actas por Programa</small>
            &nbsp;
            <!-- <button  cButton color="primary" size="sm" data-toggle="modal" (click)="gestionNewSeccion.show()"> <svg cIcon class="me-2" name="cilUserPlus"></svg>Nuevo aspirante</button> -->
        </c-card-header>
        <c-card-body>
            Listado de trayectos, unidades curriculares y actas (secciones).
            <br>
            <div class="row">
                <div class="col s12"><label>Seleccione un PNF:</label>
                    <mat-form-field>
                        <mat-label>PNF:</mat-label>
                        <mat-select [(ngModel)]="carreraSeleccionada"
                            (selectionChange)="onPnfSeleccionado(carreraSeleccionada)">
                            <mat-option [value]="item.codelemento"
                                *ngFor="let item of carreras">{{item.descripcion}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col s12"><label>Seleccione un Periodo:</label>
                    <mat-form-field>
                        <mat-label>Periodo:</mat-label>
                        <mat-select [disabled]="!carreraSeleccionada" [(ngModel)]="periodoSeleccionado"
                            (ngModelChange)="onPeriodoSeleccionado(carreraSeleccionada,periodoSeleccionado)">
                            <mat-option [value]="tray.periodo"
                                *ngFor="let tray of periodos">{{tray.periodo_estatus}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div>
                 <!-- Detalles del plan de estudios seleccionado, si se seleccionó alguno -->
            <div *ngIf="programaSeleccionado">
                <div class="instrucciones-trayectos">
                    <p>
                      <svg cIcon name="cil-info" class="me-2"></svg>
                      Por favor pulse sobre cada trayecto para ir configurando las Unidades Curriculares que corresponden a cada uno.
                    </p>
                  </div>
                <mat-accordion>
                  <!-- Iterar sobre los trayectos del plan seleccionado -->
                  <mat-expansion-panel *ngFor="let trayecto of trayectos; let iTray = index" 
                  (opened)="cargarUnidadesCurriculares(trayecto.nombre_trayecto)"
                  (opened)="onTrayectoOpened(iTray)"
                     (closed)="expansionControl.trayecto = null">
                    <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                      <mat-panel-title>
                        {{ trayecto.nombre_trayecto }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
              
                    <!-- Mostrar los semestres para planes semestrales -->
                    <div *ngIf="periodos[0]?.regimen  === '02'">
                      <br>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let semestre of trayecto.semestres" >
                          <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                            <mat-panel-title>
                              Semestre {{ semestre.numero }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <!-- Contenido del semestre, como un botón para añadir unidades curriculares -->
                          <!-- <button cButton color="light" size="sm" (click)="addUnidadesCurriculares(trayecto.nombre_trayecto, semestre.numero)"> <svg cIcon
                            class="me-2" name="cilPlaylistAdd"></svg>Añadir Unidades Curriculares</button> -->
                            <div *ngIf="unidadesCurriculares.length">
                                <table mat-table [dataSource]="unidadesCurriculares"  [hover]="true" [responsive]="true" [striped]="true"
                                align="middle" cTable>
                                  <!-- Columnas del mat-table -->
                                  <ng-container matColumnDef="codigo_uc">
                                    <th mat-header-cell *matHeaderCellDef> Código UC </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="nombre_uc">
                                    <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="creditos">
                                    <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Créditos </th>
                                    <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.creditos }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="es_electiva">
                                    <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Electiva </th>
                                    <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.es_electiva }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="secciones">
                                    <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Secciones </th>
                                    <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.secciones }} </td>
                                  </ng-container>
      
                                  <ng-container matColumnDef="inscritos">
                                    <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Inscritos </th>
                                    <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.inscritos }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="prof">
                                    <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Prof. </th>
                                    <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.prof }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="gestion">
                                    <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Gestionar </th>
                                    <td mat-cell *matCellDef="let uc" class="center-inscritos">
                                        
                                            <button cButton class="btn-primary" size="sm" >
                                                <svg cIcon name="cil-pencil"></svg></button>
                                        
                                    </td>
                                </ng-container>
                                  <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                                  <tr mat-header-row *matHeaderRowDef="['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva', 'secciones','inscritos','prof','gestion']"></tr>
                                  <tr mat-row *matRowDef="let row; columns: ['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','secciones','inscritos','prof','gestion'];"></tr>
                                </table>
                              </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>

                    <div *ngIf="periodos[0]?.regimen !== '02'">
                      <!-- Muestra menciones si existen -->
                      
                          <ng-container *ngIf="trayecto.menciones && trayecto.menciones.length > 0">
                            <br>
                            <mat-accordion>
                              <mat-expansion-panel *ngFor="let mencion of trayecto.menciones; let iMenc = index"
                              [expanded]="expansionControl.mencion === iMenc"
                              (opened)="onMencionOpened(iMenc, trayecto.nombre_trayecto, mencion.nombre_mencion)"
                              (closed)="expansionControl.mencion = null">
                                <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                                  <mat-panel-title>
                                    Mención: {{ mencion.nombre_mencion }}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div *ngIf="unidadesCurriculares.length">
                                  <table mat-table [dataSource]="unidadesCurriculares"  [hover]="true" [responsive]="true" [striped]="true"
                                  align="middle" cTable>
                                      <!-- Columnas del mat-table -->
                                      <ng-container matColumnDef="codigo_uc">
                                        <th mat-header-cell *matHeaderCellDef> Código UC </th>
                                        <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                                      </ng-container>
      
                                      <ng-container matColumnDef="nombre_uc">
                                        <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                                        <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                                      </ng-container>
      
                                      <ng-container matColumnDef="creditos">
                                        <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Créditos </th>
                                        <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.creditos }} </td>
                                      </ng-container>
      
                                      <ng-container matColumnDef="es_electiva">
                                        <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Electiva </th>
                                        <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.es_electiva }} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="secciones">
                                        <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Secciones </th>
                                        <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.secciones }} </td>
                                      </ng-container>
          
                                      <ng-container matColumnDef="inscritos">
                                        <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Inscritos </th>
                                        <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.inscritos }} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="prof">
                                        <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Prof. </th>
                                        <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.prof }} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="gestion">
                                        <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Gestionar </th>
                                        <td mat-cell *matCellDef="let uc" class="center-inscritos">
                                            
                                                <button cButton class="btn-primary" size="sm" >
                                                    <svg cIcon name="cil-pencil"></svg></button>
                                            
                                        </td>
                                    </ng-container>
                                      <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                                      <tr mat-header-row *matHeaderRowDef="['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','secciones','inscritos','prof','gestion']"></tr>
                                      <tr mat-row *matRowDef="let row; columns: ['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva', 'secciones','inscritos','prof','gestion'];"></tr>
                                    </table>
                                </div>
                              </mat-expansion-panel>
                            </mat-accordion>
                          </ng-container>

                    <ng-container *ngIf="!trayecto.menciones || trayecto.menciones.length === 0">
                      <div *ngIf="unidadesCurriculares.length">
                        <table mat-table [dataSource]="unidadesCurriculares"  [hover]="true" [responsive]="true" [striped]="true"
                                align="middle" cTable>
                            <!-- Columnas del mat-table -->
                            <ng-container matColumnDef="codigo_uc">
                              <th mat-header-cell *matHeaderCellDef> Código UC </th>
                              <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre_uc">
                              <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                              <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                            </ng-container>

                            <ng-container matColumnDef="creditos">
                              <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Créditos </th>
                              <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.creditos }} </td>
                            </ng-container>

                            <ng-container matColumnDef="es_electiva">
                              <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Electiva </th>
                              <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.es_electiva }} </td>
                            </ng-container>

                            <ng-container matColumnDef="secciones">
                              <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Secciones </th>
                              <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.secciones }} </td>
                            </ng-container>

                            <ng-container matColumnDef="inscritos">
                              <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Inscritos </th>
                              <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.inscritos }} </td>
                            </ng-container>

                            <ng-container matColumnDef="prof">
                              <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Prof. </th>
                              <td mat-cell *matCellDef="let uc" class="center-inscritos"> {{ uc.prof }} </td>
                            </ng-container>

                            <ng-container matColumnDef="gestion">
                              <th mat-header-cell *matHeaderCellDef class="center-inscritos"> Gestionar </th>
                              <td mat-cell *matCellDef="let uc" class="center-inscritos">
                                <div>
                                      <button cButton class="btn-primary" (click)="irAGestionSeccion(uc.codigo_uc)" cTooltip="Secciones" cTooltipPlacement="top">
                                          <svg cIcon name="cil-list-numbered"></svg>
                                        </button>
                              </div>
                              </td>
                          </ng-container>
                            <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                            <tr mat-header-row *matHeaderRowDef="['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','secciones','inscritos','prof','gestion']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','secciones','inscritos','prof','gestion'];"></tr>
                          </table>
                      </div>
                    </ng-container>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
        </c-card-body>
    </c-card>
</c-col>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
    <p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
</ngx-spinner>