<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
    toggle="visible"
    cHeaderToggler
    [cSidebarToggle]="sidebarId"
    class="ps-1"
  >
    <svg cIcon
      name="cilMenu"
      size="lg"
      color= #ffffff
    ></svg>
  </button>
    <c-header-nav class=" d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink>
          Sistema Integral de Control de Estudios - SICE
        </a>
      </c-nav-item>
    </c-header-nav>

    <c-header-nav class="d-lg-flex ms-auto text-end">
      <span class="c-nav-link" style="color: white;">
        {{usr.saludo}}, {{usr.nombre_corto}}<br>
        <small *ngIf="!usr.ult_conexion">¡Este es tu primer inicio de sesión en el SICE!</small>
        <small *ngIf="usr.ult_conexion">Tu último ingreso fue el {{usr.ult_conexion}}</small>
      </span>
    </c-header-nav>
    
    <c-header-nav class="ms-3">
      <a cNavLink [routerLink]="['/logout']">
        <svg cIcon name="cil-exit-to-app" size="lg" color="white"></svg>
      </a>
    </c-header-nav>

  </c-container>
   <c-header-divider></c-header-divider> 
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> 
</ng-container>
<!--</c-header>-->
