:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}


.card-container c-card {
  flex: 1 1 300px; /* Ajusta '300px' según el tamaño mínimo que desees para tus tarjetas */
  margin: 10px; /* Espaciado entre tarjetas */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ajusta según necesidades */
}

.custom-card-header {
  background-color: #003E85;
  color: #fff; /* Asegúrate de que el texto sea legible sobre el fondo oscuro */
}

.icon-estatus {
  fill: #fff; /* Cambia el color de los iconos si es necesario */
}


// .curso-detalle {
//   margin-bottom: 10px; /* Espacio antes de los botones de acción */
// }


.c-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.curso-detalle {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a ambos extremos */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en la siguiente línea si no hay espacio suficiente */
  //padding: 10px;
}

.curso-info, .curso-estado {
  flex: 1; /* Permite que ambos bloques ocupen espacio equitativo */
  word-wrap: break-word; /* Asegura que el texto no desborde */
  //padding-right: 10px; /* Añade espacio entre los bloques de información y estado */
}

.curso-acciones {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente línea si no hay suficiente espacio */
  //gap: 10px; /* Añade un pequeño espacio entre los botones */
  padding: 10px;
}

.btn {
  flex-shrink: 0; /* Previene que los botones se encojan demasiado */
}

