<c-row>
  <c-col lg="12">
    <c-card class="mb-3">
      <c-card-header>Bienvenido al Sistema Integral de Control de Estudios de la UNETRANS</c-card-header>
      <c-card-body>
        <c-row>
          <c-col lg="12"> 
           

            <div *ngIf="!cargandoDatos && tieneRol('006')" >
              <h2>Información de mis cursos</h2>
              <div *ngIf="cursosDocente.length > 0; else noDataTemplate">
                <div class="d-flex flex-row flex-wrap">
                  <c-col lg="6" md="6" sm="12" *ngFor="let curso of cursosDocente">
                    <c-card class="mb-3">
                      <c-card-header class="custom-card-header">
                        Programa: <strong>{{ curso.pnf }}</strong>
                      </c-card-header>
                      <c-card-body>
                        <div class="curso-detalle">
                          <div class="curso-info">
                            <p cCardText><strong>Periodo:</strong> {{ curso.periodo }}</p>
                            <p cCardText><strong>Cantidad de actas:</strong> {{ curso.cantidad }}</p>
                            <p cCardText><strong>Estudiantes inscritos:</strong> {{ curso.inscritos }}</p>
                          </div>
                          <div class="curso-estado" [ngStyle]="{'color': curso.actas_cargadas < curso.cantidad ? 'red' : 'green'}">
                            {{ curso.actas_cargadas < curso.cantidad ? 'Tienes ' : 'Todas las actas están cargadas' }}
                            <span *ngIf="curso.actas_cargadas < curso.cantidad" style="font-weight: bold;">
                              {{ curso.cantidad - curso.actas_cargadas }}
                            </span>
                            <span *ngIf="curso.actas_cargadas < curso.cantidad">
                              {{ (curso.cantidad - curso.actas_cargadas) === 1 ? ' acta por cargar' : ' actas por cargar' }}
                            </span>
                          </div>
                          
                        </div>
                        <div class="curso-acciones">
                          <button class="btn btn-primary btn-sm mr-2" routerLink="/doc-academico/mis-cursos">
                            <svg cIcon class="me-2" name="cilMagnifyingGlass"></svg> Ver detalles
                          </button>
                          <button class="btn btn-primary btn-sm" routerLink="/doc-academico/carga-calificaciones">
                            <svg cIcon class="me-2" name="cilChart"></svg> Cargar actas
                          </button>
                        </div>
                      </c-card-body>
                                          
                    </c-card>
                  </c-col>
                </div>
              </div>
              <ng-template #noDataTemplate>
                <div class="alert alert-info" role="alert">
                  Actualmente no tienes cursos asignados.
                </div>
              </ng-template>
            </div>
            

            <div *ngIf="tieneRol('007')" class="mis-programas">
              <h2>Mis Programas</h2>

              <c-alert *ngIf="!cargandoDatos && mostrarMensaje" color="info" fade>
                Estimad{{ estudiante.genero_mensaje }} <strong>{{ estudiante.nombre }}</strong>, en este apartado es donde podrás observar tus programas académicos.<br>
                Tras el reciente proceso de migración de datos al registrarte en el SICE se ha iniciado de forma automática un procedimiento de revisión 📑 para validar y poder realizar la migración de calificaciones históricas. <br>
                Te solicitamos paciencia mientras procesamos un volumen considerable de solicitudes.
              </c-alert>

              <div class="d-flex flex-row flex-wrap">
                <c-col lg="6" md="6" sm="12" *ngFor="let matricula of estudiante.matriculas">
                  <c-card class="mb-3">
                    <c-card-header class="custom-card-header">
                      <strong>{{ matricula.programa }}</strong> 
                    </c-card-header>
                    <c-card-body>
                      <h4 cCardTitle>
                        Estatus:
                        <span [ngClass]="{
                          'text-success': matricula.estatus === 'Activo',
                          'text-warning': matricula.estatus === 'Inactivo',
                          'text-primary': matricula.estatus === 'Egresado',
                          'text-danger': matricula.estatus === 'Retirado'
                        }">{{ matricula.estatus }} <svg cIcon width="20" height="20" name="{{ getIconName(matricula.estatus) }}" class="icon-estatus"></svg></span>
                      </h4>
                      <div [ngSwitch]="matricula.estatus">
                        <!-- Ajustado para mostrar grados uno debajo del otro con icono -->
                        <ng-container *ngFor="let grado of matricula.grados">
                          <p cCardText> 
                            <strong>{{ grado.nombre }}  </strong>
                            <svg cIcon width="20" height="20"  name="{{ getIconNameGrade(+grado.estatus) }}" class="icon-estatus"></svg>
                             - {{ grado.desc_estatus}}
                          </p>
                        </ng-container>
                      </div>
                      <br>
                      <!-- Mensaje de alerta si algún grado es 'Sin definir' -->
                      <div *ngIf="tieneEstadoSinDefinir(estudiante.matriculas)" class="alert alert-info" role="alert">
                        Se ha detectado una omisión en la especificación de la mención durante el proceso de migración de datos. Se ha iniciado automáticamente una solicitud de revisión para corregir esta información a la brevedad.
                      </div>
                    </c-card-body>
                  </c-card>
                </c-col>
              </div>
            </div>

            <div *ngIf="tieneRol('008')" class="mis-programas">
              <h2>Procesos del Ente de Transporte</h2>
            
              <c-alert *ngIf="!cargandoDatos" color="info" fade>
                Estimad{{ persona_ente.genero_mensaje }} <strong>{{ persona_ente.nombre }}</strong>, aquí puedes ver el estado de los procesos actuales de tu ente adscrito <strong>{{ persona_ente.ente }}</strong>
              </c-alert>
            
              <div class="d-flex flex-row flex-wrap">
                <c-col lg="6" md="6" sm="12" *ngFor="let proceso of procesos">
                  <c-card class="mb-3">
                    <c-card-header class="custom-card-header">
                      <strong>{{ proceso.proceso }}</strong> 
                    </c-card-header>
                    <c-card-body>
                      <h4 cCardTitle>
                        Periodo: {{ proceso.periodo }}
                      </h4>
              
                      <p cCardText>
                        <!-- Mostrar "Por definir" si la fecha es null -->
                        Fecha de inicio: {{ proceso.fec_ini_view ? proceso.fec_ini_view : 'Por definir' }} <br>
                        Fecha de fin: {{ proceso.fec_fin_view ? proceso.fec_fin_view : 'Por definir' }}
                      </p>
              
                      <!-- Mensaje de estado del proceso -->
                      <p cCardText>
                        <strong>Estado: </strong>
                        <span [ngClass]="{
                          'text-success': proceso.estatus === 'ACTIVO',
                          'text-danger': proceso.estatus === 'FINALIZADO'
                        }">
                          {{ proceso.estatus }} 
                          <svg cIcon width="20" height="20" name="cil{{ proceso.estatus === 'ACTIVO' ? 'CheckCircle' : 'XCircle' }}" class="icon-estatus"></svg>
                        </span>
                      </p>
              
                      <!-- Verificación de si el proceso está habilitado según fechas -->
                      <div *ngIf="procesoHabilitado(proceso.fec_ini, proceso.fec_fin)" class="alert alert-success d-flex justify-content-between align-items-center">
                        <span class="w-50 text-center">Este proceso está habilitado.</span>
                        <button *ngIf="proceso.id === 10" cButton color="primary" size="sm" class="w-50" (click)="irACargaConvenio()">
                          <svg cIcon class="me-2" name="cilUserPlus"></svg>Ir a la carga de aspirantes
                        </button>
                      </div>
              
                      <div *ngIf="!procesoHabilitado(proceso.fec_ini, proceso.fec_fin)" class="alert alert-secondary d-flex justify-content-between align-items-center">
                        <span class="text-center w-100">
                          <!-- Mostrar "Por definir" si ambas fechas son null -->
                          {{ proceso.fec_ini === null && proceso.fec_fin === null ? 'Fechas del proceso por definir' : 'Esta fase del proceso finalizó' }}
                        </span>
                      </div>
              
                    </c-card-body>
                  </c-card>
                </c-col>
              </div>
              
            </div>
            
            

            <!-- <div >
              <h2>Panel de Jefe de Departamento</h2>
              <div class="d-flex flex-row flex-wrap">
                <c-col lg="4" md="6" sm="12" >
                  <c-card class="mb-3">
                    <c-card-header class="custom-card-header">
                      Gestión de Docentes
                    </c-card-header>
                    <c-card-body>
                      <p cCardText>Nuevo personal: 3 | Bajas: 1 este mes</p>
                      <button class="btn btn-primary">Ver detalles</button>
                    </c-card-body>
                  </c-card>
                </c-col>
              </div>

            </div>


            <div >
              <h2>Panel de Docente</h2>
              <div class="d-flex flex-row flex-wrap">
                <c-col lg="4" md="6" sm="12" >
                  <c-card class="mb-3">
                    <c-card-header class="custom-card-header">
                      Mis Cursos
                    </c-card-header>
                    <c-card-body>
                      <p cCardText>Cursos activos: 4 | Próximo examen: Matemáticas II - 15/10/2024</p>
                      <button class="btn btn-primary">Ver horario completo</button>
                    </c-card-body>
                  </c-card>
                </c-col>
              </div>
            </div> -->
            
          </c-col>        
        </c-row>
        <!-- <div *ngIf="tieneRol('005')" class="card-container">
          <c-card class="mb-12">
            <c-card-header>Resumen Docentes</c-card-header>
            <c-card-body>
              <ng-container>
                <c-row >
                  <c-col lg="3" sm="6" xs="12">
                    <a [routerLink]="['/dep-academico/gestion-docente']">
                    <c-widget-stat-c
                      [title]="'Registrados en SICE'"
                      class="mb-4"
                      value="0/19"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilChartPie"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="primary"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </a>
                  </c-col>
                  <c-col lg="3" sm="6" xs="12">
                    <c-widget-stat-c
                      [title]="'otra opción'"
                      class="mb-4"
                      value="0"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilSpeedometer"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="danger"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </c-col>
                  <c-col lg="3" sm="6" xs="12">
                    <a [routerLink]="['/dep-academico/gestion-cupos']">
                      <c-widget-stat-c
                        [title]="'Actas generadas'"
                        class="mb-4"
                        value="972"
                      >
                        <ng-template cTemplateId="widgetIconTemplate">
                          <svg cIcon height="36" name="cilSpeech"></svg>
                        </ng-template>
                        <ng-template cTemplateId="widgetProgressTemplate">
                          <c-progress class="mt-3 mb-0" thin>
                            <c-progress-bar [value]="100" color="dark"></c-progress-bar>
                          </c-progress>
                        </ng-template>
                      </c-widget-stat-c>
                    </a>
                  </c-col>
                  <c-col lg="3" sm="6" xs="12">
                    <c-widget-stat-c
                      [title]="'Actas cargadas'"
                      class="mb-4"
                      value="0"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilSpeech"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="dark"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </c-col>
                </c-row>
              </ng-container>
            </c-card-body>
          </c-card> 
           <c-card class="mb-12">
            <c-card-header>Resumen Estudiantes</c-card-header>
            <c-card-body>
              <ng-container>
                <c-row >
                  <c-col lg="3" sm="6" xs="12">
                    <c-widget-stat-c
                      [title]="'Inscritos'"
                      class="mb-4"
                      value="15%"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilChartPie"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="primary"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </c-col>
                  <c-col lg="3" sm="6" xs="12">
                    <c-widget-stat-c
                      [title]="'Retirados'"
                      class="mb-4"
                      value="5:34:11"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilSpeedometer"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="danger"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </c-col>
                  <c-col lg="3" sm="6" xs="12">
                    <c-widget-stat-c
                      [title]="'Comments'"
                      class="mb-4"
                      value="972"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilSpeech"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="dark"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </c-col>
                  <c-col lg="3" sm="6" xs="12">
                    <c-widget-stat-c
                      [title]="'Reincorporaciones'"
                      class="mb-4"
                      value="3"
                    >
                      <ng-template cTemplateId="widgetIconTemplate">
                        <svg cIcon height="36" name="cilSpeech"></svg>
                      </ng-template>
                      <ng-template cTemplateId="widgetProgressTemplate">
                        <c-progress class="mt-3 mb-0" thin>
                          <c-progress-bar [value]="100" color="dark"></c-progress-bar>
                        </c-progress>
                      </ng-template>
                    </c-widget-stat-c>
                  </c-col>
                </c-row>
              </ng-container>
            </c-card-body>
          </c-card> 
        </div> -->
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<!-- Contenedor para el rol 001 -->
<!-- <div *ngIf="tieneRol('001')">
   Elementos del dashboard para el rol 001 
</div> -->

<!-- <app-widgets-dropdown></app-widgets-dropdown>
<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Traffic</h4>
        <div class="small text-medium-emphasis">January - December 2021</div>
      </c-col>
      <c-col class="d-none d-md-block" sm="7">
        <button cButton class="float-end" color="primary">
          <svg cIcon name="cilCloudDownload"></svg>
        </button>
        <form [formGroup]="trafficRadioGroup">
          <c-button-group class="float-end me-3" role="group">
            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Day"
            />
            <label
              (click)="setTrafficPeriod('Day')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Day</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Month"
            />
            <label
              (click)="setTrafficPeriod('Month')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Month</label>

            <input
              class="btn-check"
              formControlName="trafficRadio"
              type="radio"
              value="Year"
            />
            <label
              (click)="setTrafficPeriod('Year')"
              cButton
              cFormCheckLabel
              color="secondary"
              variant="outline"
            >Year</label>
          </c-button-group>
        </form>
      </c-col>
    </c-row>
    <c-chart
      [data]="mainChart.data"
      [height]="300"
      [ngStyle]="{ 'marginTop.px': 40 }"
      [options]="mainChart.options"
      [type]="mainChart.type"
    >
      Main chart
    </c-chart>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Visits</div>
        <strong>29.703 Users (40%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="success" value="40"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Unique</div>
        <strong>24.093 Users (20%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="info" value="20"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Page views</div>
        <strong>78.706 Views (60%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="warning" value="60"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">New Users</div>
        <strong>22.123 Users (80%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar color="danger" value="80"></c-progress-bar>
        </c-progress>
      </c-col>
      <c-col class="mb-sm-2 mb-0">
        <div class="text-medium-emphasis">Bounce Rate</div>
        <strong>Average Rate (40.15%)</strong>
        <c-progress class="mt-2" thin>
          <c-progress-bar value="40"></c-progress-bar>
        </c-progress>
      </c-col>
    </c-row>
  </c-card-footer>
</c-card>

<app-widgets-brand [withCharts]="true"></app-widgets-brand>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Traffic {{ "&" }} Sales</c-card-header>
      <c-card-body>
        <c-row>
          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-info py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">New Clients</div>
                  <div class="fs-5 fw-semibold">9,123</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div
                  class="border-start border-start-4 border-start-danger py-1 px-3 mb-3"
                >
                  <div class="text-medium-emphasis small">
                    Recurring Clients
                  </div>
                  <div class="fs-5 fw-semibold">22,643</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Monday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="34"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="78"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Tuesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="56"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="94"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Wednesday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="12"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="67"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Thursday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="43"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="91"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Friday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="22"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="73"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Saturday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="53"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="82"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-4">
              <div class="progress-group-prepend">
                <span class="text-medium-emphasis small">Sunday</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="info" value="9"></c-progress-bar>
                </c-progress>
                <c-progress thin>
                  <c-progress-bar color="danger" value="69"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="legend text-center" ngPreserveWhitespaces>
              <small>
                <sup>
                  <span class="badge badge-pill badge-sm bg-info">&nbsp;</span>
                </sup>
                <span>New clients</span>
                &nbsp;&nbsp;
                <sup>
                  <span class="badge badge-pill badge-sm bg-danger">&nbsp;</span>
                </sup>
                <span>Recurring clients</span>
              </small>
            </div>
          </c-col>

          <c-col md="6" xl="6" xs="12">
            <c-row>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-warning py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Page views</div>
                  <div class="fs-5 fw-semibold">78,623</div>
                </div>
              </c-col>
              <c-col sm="6">
                <div class="border-start border-start-4 border-start-success py-1 px-3 mb-3">
                  <div class="text-medium-emphasis small">Organic</div>
                  <div class="fs-5 fw-semibold">49,123</div>
                </div>
              </c-col>
            </c-row>

            <hr class="mt-0" />

            <div class="progress-group mb-4">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUser"></svg>
                <span>Male</span>
                <span class="ms-auto font-semibold">43%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value="43"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group mb-5">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cilUserFemale"></svg>
                <span>Female</span>
                <span class="ms-auto font-semibold">37%</span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="warning" value="37"></c-progress-bar>
                </c-progress>
              </div>
            </div>

            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibGoogle"></svg>
                <span>Organic Search</span>
                <span class="ms-auto font-semibold">
                  191,235 <span class="text-medium-emphasis small">(56%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="56"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibFacebook"></svg>
                <span>Facebook</span>
                <span class="ms-auto font-semibold">
                  51,223 <span class="text-medium-emphasis small">(15%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="15"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibTwitter"></svg>
                <span>Twitter</span>
                <span class="ms-auto font-semibold">
                  37,564 <span class="text-medium-emphasis small">(11%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="11"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="progress-group">
              <div class="progress-group-header">
                <svg cIcon class="icon icon-lg me-2" name="cibLinkedin"></svg>
                <span>LinkedIn</span>
                <span class="ms-auto font-semibold">
                  27,319 <span class="text-medium-emphasis small">(8%)</span>
                </span>
              </div>
              <div class="progress-group-bars">
                <c-progress thin>
                  <c-progress-bar color="success" value="8"></c-progress-bar>
                </c-progress>
              </div>
            </div>
            <div class="divider d-flex justify-content-center">
              <button
                cButton
                class="text-muted btn-link"
                color="transparent"
                size="sm"
                type="button"
              >
                <svg cIcon name="cil-options"></svg>
              </button>
            </div>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header>Users</c-card-header>
      <c-card-body>
        <table
          [hover]="true"
          [responsive]="true"
          [striped]="true"
          align="middle"
          cTable
          class="mb-0 border"
        >
          <thead cTableColor="light">
            <tr>
              <th class="text-center">
                <svg cIcon name="cilPeople"></svg>
              </th>
              <th>User</th>
              <th class="text-center">Country</th>
              <th>Usage</th>
              <th class="text-center">Payment Method</th>
              <th>Activity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; index as i">
              <td class="text-center">
                <c-avatar
                  size="md"
                  src="{{ user.avatar }}"
                  status="{{ user.status }}"
                ></c-avatar>
              </td>
              <td>
                <div>{{ user.name }}</div>
                <div class="small text-medium-emphasis text-nowrap">
                  <span>
                    {{ user.state }} | Registered: {{ user.registered }}
                  </span>
                </div>
              </td>
              <td class="text-center">
                <svg
                  cIcon
                  id="{{ user.country + user.name }}"
                  name="cif{{ user.country }}"
                  size="xl"
                  title="{{ user.country }}"
                ></svg>
              </td>
              <td>
                <div class="d-flex justify-content-between">
                  <div class="float-start">
                    <strong>{{ user.usage }}%</strong>
                  </div>
                  <div class="float-end ms-1 text-nowrap">
                    <small class="text-medium-emphasis">
                      {{ user.period }}
                    </small>
                  </div>
                </div>
                <c-progress thin>
                  <c-progress-bar
                    [value]="user.usage"
                    color="{{ user.color }}"
                  ></c-progress-bar>
                </c-progress>
              </td>
              <td class="text-center">
                <svg cIcon name="cibCc{{ user.payment }}" size="xl"></svg>
              </td>
              <td>
                <div class="small text-medium-emphasis">Last login</div>
                <div class="fw-semibold text-nowrap">{{ user.activity }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>-->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
  <p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
  </ngx-spinner>
 