  .mat-column-gestion {
    width: 5%;
  }
  .copiado-text {
    margin-left: 10px; /* Espacio entre el botón y el mensaje de copiado */
    color: green; /* Puedes ajustar el color según tus preferencias */
    font-size: 14px; /* Ajusta el tamaño de la fuente según sea necesario */
  }