<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Reincorporación de estudiantes</strong> &nbsp; <small>Módulo para gestión de las reincorporaciones</small>  &nbsp; 
        <button  cButton color="primary" size="sm" data-toggle="modal" (click)="gestionNewReincorporacion.show()"> <svg cIcon class="me-2" name="cilUserPlus"></svg>Cargar solicitud</button>
      </c-card-header>
      <c-card-body >
          Listado de estudiantes que solicitaron reincorporarse para el periodo académico actual.
          <br>
          <c-nav variant="tabs">
            <c-nav-item>
              <a [cTabContent]="tabContent1" [routerLink] [tabPaneIdx]="0" cNavLink>
                <svg cIcon class="me-2" name="cilNoteAdd"></svg>
                Recibidas
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [cTabContent]="tabContent1" [routerLink] [tabPaneIdx]="1" cNavLink>
                <svg cIcon class="me-2" name="cilTask"></svg>
                Procesadas
              </a>
            </c-nav-item>
            <!-- <c-nav-item>
              <a [cTabContent]="tabContent1" [routerLink] [tabPaneIdx]="2" cNavLink [disabled]="tabContent1.activeTabPaneIdx < 1">
                <svg cIcon class="me-2" name="cilCode"></svg>
                Contact
              </a>
            </c-nav-item> -->
          </c-nav>
          <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
            <c-tab-pane class="p-3 preview" role="tabpanel">
                <div *ngIf="hayResultadosRecibidas">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilterRecibidas($event)" placeholder="Buscar solicitud recibida" #input>
                      </mat-form-field>
                      <table mat-table [dataSource]="recibidas" [hover]="true"
                      [responsive]="true"
                      [striped]="true"
                      align="middle"
                      cTable
                      class="mb-0 border" cTable>
                        <ng-container matColumnDef="fecha_solicitud">
                          <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.fecha_solicitud}} </td>
                        </ng-container>
                        <ng-container matColumnDef="id_estudiante">
                          <th mat-header-cell *matHeaderCellDef> Identificación </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.id_estudiante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre_completo">
                          <th mat-header-cell *matHeaderCellDef> Apellido y nombre </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.nombre_completo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edad">
                          <th mat-header-cell *matHeaderCellDef> Edad </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.edad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoaspirante">
                          <th mat-header-cell *matHeaderCellDef> Tipo de aspirante </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.tipoaspirante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="gestion">
                            <th mat-header-cell *matHeaderCellDef> Gestionar </th>
                            <td mat-cell *matCellDef="let solicitud">
                                <div>
                                    <button cButton class="btn-primary">
                                      <svg cIcon name="cilMagnifyingGlass"></svg></button>
                                  </div>
                            </td>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRecibidas"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRecibidas;"></tr>
                      </table>
                      
                </div>
                <div *ngIf="sinResultadosRecibidas">
                    <c-alert color="success" class="d-flex align-items-center">
                      <svg cIcon class="me-2" width="24" height="24" name="cilNoteAdd"></svg>
                      <div>No existen solicitudes por gestionar</div>
                    </c-alert>
                  </div>
                  <mat-paginator  [hidePageSize]="true" [pageSize]="5"  #paginatorRecibidas></mat-paginator>
            </c-tab-pane>
            <c-tab-pane class="p-3 preview" role="tabpanel">
                <div *ngIf="hayResultadosProcesadas">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilterProcesadas($event)" placeholder="Buscar solicitud procesada" #input>
                      </mat-form-field>
                      <table mat-table [dataSource]="procesadas"  [hover]="true"
                      [responsive]="true"
                      [striped]="true"
                      align="middle"
                      cTable
                      class="mb-0 border" cTable>
                        <ng-container matColumnDef="estatus">
                            <th mat-header-cell *matHeaderCellDef> Estatus </th>
                            <td mat-cell *matCellDef="let solicitud">
                                <div class="container" cTooltip="{{solicitud.desc_estatus}}" cTooltipPlacement="right">
                                    <svg *ngIf="solicitud.estatus == '0'" cIcon width="30" height="30" name="cilCheckCircle" style="color: #2EB85C;" ></svg>
                                    <svg *ngIf="solicitud.estatus == '1'" cIcon width="30" height="30" name="cilToggleOn" style="color: #2EB85C;" ></svg>
                                    <svg *ngIf="solicitud.estatus == '4'" cIcon width="30" height="30" name="cilXCircle" style="color: orangered;"></svg>
                                  </div>
                            </td>
                          </ng-container>
                        <ng-container matColumnDef="id_estudiante">
                          <th mat-header-cell *matHeaderCellDef> Identificación </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.id_estudiante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre_completo">
                          <th mat-header-cell *matHeaderCellDef> Apellido y nombre </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.nombre_completo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edad">
                          <th mat-header-cell *matHeaderCellDef> Edad </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.edad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoaspirante">
                          <th mat-header-cell *matHeaderCellDef> Tipo de aspirante </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.tipoaspirante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="usrproceso">
                          <th mat-header-cell *matHeaderCellDef> Procesado por </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.nombre_corto}} </td>
                        </ng-container>
                       
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProcesadas"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProcesadas;"></tr>
                      </table>
                </div>
                <div *ngIf="sinResultadosProcesadas">
                    <c-alert color="info" class="d-flex align-items-center">
                      <svg cIcon class="me-2" width="24" height="24" name="cilTask"></svg>
                      <div>No existen solicitudes procesadas</div>
                    </c-alert>
                  </div>
                  <mat-paginator [hidePageSize]="true" [pageSize]="5" #paginatorProcesadas></mat-paginator>
            </c-tab-pane>
          </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>

<!-- Modal -->
<div bsModal #gestionNewReincorporacion="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" >Cargar nueva solicitud de reincorporación: </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #f="ngForm" [formGroup]="firstFormGroup" >
                <div class="row">
                    <div class="col l6 m12 s12"> 
                      <label class="label-custom">Documento de identidad:</label>
                      <div class="row">
                        <div class="col s12">
                          <mat-form-field appearance="fill">
                            <mat-label>Nro de documento</mat-label>
                            <input [(ngModel)]="cedula" (blur)="buscar_datos_student()" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" type="number" min="1" max="100000000" matInput formControlName="cedula"
                              name="cedula" required>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col s12">
                      <label class="label-custom">Programa Nacional de Formación</label>
                      <div class="row">
                        <div class="col s12">
                            <mat-form-field>
                                <mat-label>PNF:</mat-label>
                                <mat-select  [(ngModel)]="pnf" formControlName="pnf">
                                    <mat-option [value]="item.codelemento"
                                    *ngFor="let item of carreras2">{{item.descripcion}}</mat-option>
                                  </mat-select>
                              </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="row">
                    <div class="col l12 m12 s12">
                      <label>{{datos_consultados.nombre_completo}}</label>
                      <div class="row mar-b-0">
                        <div class="col s12">
                          <mat-form-field>
                            <mat-label>Primer:</mat-label>
                            <input [(ngModel)]="datos_consultados.nombre_completo" matInput formControlName="nombre_completo" name="nombre_completo">
                          </mat-form-field>
                        </div>
                        <div class="col s12">
                          <mat-form-field>
                            <mat-label>Segundo:</mat-label>
                            <input style='text-transform:uppercase' [(ngModel)]="segundo_nombre" matInput formControlName="segundo_nombre" name="segundo_nombre">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col l12 m12 s12">
                      <label>Apellidos:</label>
                      <div class="row mar-b-0">
                        <div class="col s12">
                          <mat-form-field>
                            <mat-label>Primer</mat-label>
                            <input style='text-transform:uppercase' [(ngModel)]="primer_apellido" matInput formControlName="primer_apellido" name="primer_apellido">
                          </mat-form-field>
                        </div>
                        <div class="col s12">
                          <mat-form-field>
                            <mat-label>Segundo</mat-label>
                            <input style='text-transform:uppercase' [(ngModel)]="segundo_apellido" matInput formControlName="segundo_apellido" name="segundo_apellido">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12"><label>Trayecto de ingreso:</label>
                          <mat-form-field>
                            <mat-label>Trayecto:</mat-label>
                            <mat-select  [(ngModel)]="trayecto" formControlName="trayecto">
                                <mat-option [value]="tray.codelemento"
                                    *ngFor="let tray of trayectos">{{tray.descripcion}}</mat-option>
                                  </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col s12"><label>Modalidad de ingreso:</label>
                        <mat-form-field>
                            <mat-label>Modalidad de ingreso:</mat-label>
                            <mat-select  [(ngModel)]="mod_ingreso" formControlName="mingreso">
                              <mat-option [value]="modin.codelemento"
                              *ngFor="let modin of moding">{{modin.descripcion}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col s12"><label>Convenio:</label>
                        <mat-form-field>
                          <mat-label>Convenio:</mat-label>
                          <mat-select  [(ngModel)]="convenio" formControlName="convenio">
                            <mat-option [value]="conv.codelemento"
                                *ngFor="let conv of convenios">{{conv.descripcion}}</mat-option>
                              </mat-select>
                        </mat-form-field>
                      </div>
                  </div>

            </form>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="gestionNewReincorporacion.hide()">Cerrar</button>
          <button type="button" class="btn btn-primary" [disabled]="!firstFormGroup.valid" (click)="guardar()"><svg cIcon class="me-2" name="cil-cloud-upload"></svg>Cargar aspirante</button>
        </div>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
		<p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
	  </ngx-spinner>