<c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Autopostulados</strong> &nbsp; <small>Módulo para gestión de aspirantes por Autopostulación</small>
      </c-card-header>
      <c-card-body >
        <c-nav variant="tabs">
            <c-nav-item>
              <a [cTabContent]="tabContent1" [routerLink] [tabPaneIdx]="0" cNavLink>
                <svg cIcon class="me-2" name="cilNoteAdd"></svg>
                Solicitudes Recibidas
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [cTabContent]="tabContent1" [routerLink] [tabPaneIdx]="1" cNavLink>
                <svg cIcon class="me-2" name="cilTask"></svg>
                Solicitudes Procesadas
              </a>
            </c-nav-item>
            <!-- <c-nav-item>
              <a [cTabContent]="tabContent1" [routerLink] [tabPaneIdx]="2" cNavLink [disabled]="tabContent1.activeTabPaneIdx < 1">
                <svg cIcon class="me-2" name="cilCode"></svg>
                Contact
              </a>
            </c-nav-item> -->
          </c-nav>
          <c-tab-content #tabContent1="cTabContent" [activeTabPaneIdx]="0" cRounded="bottom">
            <c-tab-pane class="p-3 preview" role="tabpanel">
                <div *ngIf="hayResultadosRecibidas">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilterRecibidas($event)" placeholder="Buscar solicitud recibida" #input>
                      </mat-form-field>
                      <table mat-table [dataSource]="recibidas" [hover]="true"
                      [responsive]="true"
                      [striped]="true"
                      align="middle"
                      cTable
                      class="mb-0 border" cTable>
                        <ng-container matColumnDef="fecha_solicitud">
                          <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.fecha_solicitud}} </td>
                        </ng-container>
                        <ng-container matColumnDef="id_estudiante">
                          <th mat-header-cell *matHeaderCellDef> Identificación </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.id_estudiante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre_completo">
                          <th mat-header-cell *matHeaderCellDef> Apellido y nombre </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.nombre_completo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edad">
                          <th mat-header-cell *matHeaderCellDef> Edad </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.edad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoaspirante">
                          <th mat-header-cell *matHeaderCellDef> Tipo de aspirante </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.tipoaspirante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="gestion">
                            <th mat-header-cell *matHeaderCellDef> Gestionar </th>
                            <td mat-cell *matCellDef="let solicitud">
                                <div>
                                    <button cButton class="btn-primary" data-toggle="modal" (click)="gestionAutopostulado.show()" >
                                      <svg cIcon name="cilMagnifyingGlass"></svg></button>
                                  </div>
 <!-- Modal -->
 <div bsModal #gestionAutopostulado="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" >Gestión de solicitud de autopostulación: {{solicitud.id_estudiante}}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <strong>Cédula:</strong> {{solicitud.id_estudiante}} <strong>Solicitante:</strong> {{solicitud.nombre_completo2}} <br> 
        <strong>Fecha de solicitud:</strong> {{solicitud.fecha_solicitud}} <br>
        <strong>PNF solicitados: </strong><br>

        <table mat-table [dataSource]="solicitud.pnf"  
        [hover]="true"
        [responsive]="true"
        [striped]="true"
        align="middle"
        cTable
        class="mb-0 border" cTable>
                      <ng-container matColumnDef="radio">
                          <th mat-header-cell *matHeaderCellDef>
                            Opción
                          </th>
                        <td mat-cell *matCellDef="let row">
                          <mat-radio-group [(ngModel)]="selectedOption">
                            <mat-radio-button [value]="row.codigo_pnf" color="primary"></mat-radio-button>
                          </mat-radio-group>
                        </td>
                      </ng-container>
                        <ng-container matColumnDef="codigo">
                            <th mat-header-cell *matHeaderCellDef> Código OPSU </th>
                          <td mat-cell *matCellDef="let row"> {{row.codigo_pnf}} </td>
                        </ng-container>
                        <ng-container matColumnDef="pnf">
                            <th mat-header-cell *matHeaderCellDef> PNF </th>
                          <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                        </ng-container>                      
                        <thead cTableColor="light"> <tr mat-header-row *matHeaderRowDef="displayedColumnsPnf"></tr></thead>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsPnf;"></tr>
                      </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="gestionAutopostulado.hide()">Cerrar</button>
        <button type="button" class="btn btn-primary">Comprendido</button>
      </div>
    </div>
  </div>
</div>
                            </td>
                          </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRecibidas"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRecibidas;"></tr>
                      </table>
                      
                </div>
                <div *ngIf="sinResultadosRecibidas">
                    <c-alert color="success" class="d-flex align-items-center">
                      <svg cIcon class="me-2" width="24" height="24" name="cilNoteAdd"></svg>
                      <div>No existen solicitudes por gestionar</div>
                    </c-alert>
                  </div>
                  <mat-paginator  [hidePageSize]="true" [pageSize]="5"  #paginatorRecibidas></mat-paginator>
            </c-tab-pane>
            <c-tab-pane class="p-3 preview" role="tabpanel">
                <div *ngIf="hayResultadosProcesadas">
                    <mat-form-field>
                        <input matInput (keyup)="applyFilterProcesadas($event)" placeholder="Buscar solicitud procesada" #input>
                      </mat-form-field>
                      <table mat-table [dataSource]="procesadas"  [hover]="true"
                      [responsive]="true"
                      [striped]="true"
                      align="middle"
                      cTable
                      class="mb-0 border" cTable>
                        <ng-container matColumnDef="estatus">
                            <th mat-header-cell *matHeaderCellDef> Estatus </th>
                            <td mat-cell *matCellDef="let solicitud">
                                <div class="container" cTooltip="{{solicitud.desc_estatus}}" cTooltipPlacement="right">
                                    <svg *ngIf="solicitud.estatus == '0'" cIcon width="30" height="30" name="cilCheckCircle" style="color: #2EB85C;" ></svg>
                                    <svg *ngIf="solicitud.estatus == '4'" cIcon width="30" height="30" name="cilXCircle" style="color: orangered;"></svg>
                                  </div>
                            </td>
                          </ng-container>
                        <ng-container matColumnDef="fecha_solicitud">
                          <th mat-header-cell *matHeaderCellDef> Fecha de solicitud </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.fecha_solicitud}} </td>
                        </ng-container>
                        <ng-container matColumnDef="id_estudiante">
                          <th mat-header-cell *matHeaderCellDef> Identificación </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.id_estudiante}} </td>
                        </ng-container>
                        <ng-container matColumnDef="nombre_completo">
                          <th mat-header-cell *matHeaderCellDef> Apellido y nombre </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.nombre_completo}} </td>
                        </ng-container>
                        <ng-container matColumnDef="edad">
                          <th mat-header-cell *matHeaderCellDef> Edad </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.edad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoaspirante">
                          <th mat-header-cell *matHeaderCellDef> Tipo de aspirante </th>
                          <td mat-cell *matCellDef="let solicitud"> {{solicitud.tipoaspirante}} </td>
                        </ng-container>
                       
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProcesadas"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProcesadas;"></tr>
                      </table>
                </div>
                <div *ngIf="sinResultadosProcesadas">
                    <c-alert color="info" class="d-flex align-items-center">
                      <svg cIcon class="me-2" width="24" height="24" name="cilTask"></svg>
                      <div>No existen solicitudes procesadas</div>
                    </c-alert>
                  </div>
                  <mat-paginator [hidePageSize]="true" [pageSize]="5" #paginatorProcesadas></mat-paginator>
            </c-tab-pane>
          </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
		<p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
	  </ngx-spinner>