<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header>
            <strong>Gestión del plan de estudios</strong> &nbsp; <small>Módulo para gestión de planes de estudio</small>
            &nbsp;
            <button cButton color="primary" size="sm" (click)="irAGestionPlanEstudios()">
              <svg cIcon class="me-2" name="cilBook"></svg>Nuevo plan de estudios
            </button>
            
        </c-card-header>
        <c-card-body>
            <div *ngIf="hayResultadosPlanes" >
                <div class="instrucciones-tabla">
                    <p>
                      <svg cIcon name="cil-info" class="me-2"></svg>
                      Planes de estudio asociados al programa de: <strong>{{ nomPro }}</strong>
                    </p>
                  </div>
                <table mat-table [dataSource]="planesEstudio" [hover]="true" [responsive]="true" [striped]="true"
                align="middle" cTable class="mb-0 border" cTable>
            <!-- Columnas adicionales aquí -->
            <ng-container matColumnDef="codigoPlan">
                <th mat-header-cell *matHeaderCellDef> Cód. </th>
                <td mat-cell *matCellDef="let plan">{{ plan.cod_plan }}</td>
            </ng-container>

            <ng-container matColumnDef="regimen">
              <th mat-header-cell *matHeaderCellDef> Rég. </th>
              <td mat-cell *matCellDef="let plan">{{ plan.regimen }}</td>
          </ng-container>

          <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let plan">{{ plan.tipo_plan }}</td>
        </ng-container>

        <ng-container matColumnDef="afilia">
          <th mat-header-cell *matHeaderCellDef> Afil. </th>
          <td mat-cell *matCellDef="let plan">{{ plan.afiliacion }}</td>
      </ng-container>

            <!-- Columna existente -->
            <ng-container matColumnDef="nombrePlan">
                <th mat-header-cell *matHeaderCellDef> Nombre del Plan </th>
                <td mat-cell *matCellDef="let plan">{{ plan.nombre_plan }}
                </td>
            </ng-container>

            <!-- Columna existente -->
            <ng-container matColumnDef="estatus">
                <th mat-header-cell *matHeaderCellDef> Estatus </th>
                <td mat-cell *matCellDef="let plan">{{ plan.estatus }}
                </td>
            </ng-container>

            <ng-container matColumnDef="mencion">
              <th mat-header-cell *matHeaderCellDef> Mención </th>
              <td mat-cell *matCellDef="let plan">{{ plan.nombre_mencion }}
              </td>
          </ng-container>

          <ng-container matColumnDef="gestion">
            <th mat-header-cell *matHeaderCellDef> Gestionar </th>
            <td mat-cell *matCellDef="let plan">
                <div class="d-flex flex-wrap">
                    <div class="m-1">
                      <button cButton class="btn-primary" (click)="irAGestionUnidadesCurriculares(plan.id_plan)" cTooltip="Unidades Curriculares" cTooltipPlacement="top">
                        <svg cIcon name="cil-book"></svg>
                      </button>
                    </div>
                    <div class="m-1">
                      <button cButton class="btn-primary" (click)="verReportePlan(plan.id_plan)" cTooltip="Ver Plan" cTooltipPlacement="top">
                        <svg cIcon name="cil-zoom"></svg>
                      </button>
                    </div>
                    <div class="m-1">
                      <button cButton class="btn-primary" (click)="generarReportePlan(plan.id_plan)" cTooltip="Descargar Plan" cTooltipPlacement="top">
                          <svg cIcon name="cil-file"></svg>
                      </button>
                  </div>
                  </div>
                  
            </td>
        </ng-container>

            <!-- Otras columnas... -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let plan; columns: displayedColumns;"></tr>
        </table>
        <br>
            </div>
            <div *ngIf="sinResultadosPlanes">
                <c-alert color="danger" class="d-flex align-items-center">
                    <svg cIcon class="me-2" width="24" height="24" name="cilXCircle"></svg>
                    <div>No existen planes cargados para el programa: {{ datosPrograma[0]?.nom_pro }}</div>
                </c-alert>
            </div>

            <!-- Detalles del plan de estudios seleccionado, si se seleccionó alguno -->
            <div *ngIf="planSeleccionado">
                <div class="instrucciones-trayectos">
                    <p>
                      <svg cIcon name="cil-info" class="me-2"></svg>
                      Por favor pulse sobre cada trayecto para ir configurando las Unidades Curriculares que corresponden a cada uno.
                    </p>
                  </div>
                <mat-accordion>
                  <!-- Iterar sobre los trayectos del plan seleccionado -->
                  <mat-expansion-panel *ngFor="let trayecto of trayectos" (opened)="cargarUnidadesCurriculares(trayecto.nombre_trayecto)" (click)="cambiarTrayecto(trayecto.nombre_trayecto)">
                    <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                      <mat-panel-title>
                        {{ trayecto.nombre_trayecto }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
              
                    <!-- Mostrar los semestres para planes semestrales -->
                    <div *ngIf="datosPrograma[0]?.regimen  === 'SEMESTRAL'">
                      <br>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let semestre of trayecto.semestres" (opened)="cargarUnidadesCurricularesSemestral(trayecto.nombre_trayecto, semestre.numero)">
                          <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                            <mat-panel-title>
                              Semestre {{ semestre.numero }}
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <!-- Contenido del semestre, como un botón para añadir unidades curriculares -->
                          <button cButton color="light" size="sm" > <svg cIcon
                            class="me-2" name="cilPlaylistAdd"></svg>Añadir Unidades Curriculares</button>
                            <div *ngIf="unidadesCurriculares.length">
                                <table mat-table [dataSource]="unidadesCurriculares">
                                  <!-- Columnas del mat-table -->
                                  <ng-container matColumnDef="codigo_uc">
                                    <th mat-header-cell *matHeaderCellDef> Código UC </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="nombre_uc">
                                    <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="creditos">
                                    <th mat-header-cell *matHeaderCellDef> Créditos </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.creditos }} </td>
                                  </ng-container>

                                  <ng-container matColumnDef="es_electiva">
                                    <th mat-header-cell *matHeaderCellDef> Electiva </th>
                                    <td mat-cell *matCellDef="let uc"> {{ uc.es_electiva }} </td>
                                  </ng-container>
                                  <ng-container matColumnDef="gestion">
                                    <th mat-header-cell *matHeaderCellDef> Gestionar </th>
                                    <td mat-cell *matCellDef="let uc">
                                        
                                            <button cButton class="btn-primary" size="sm" (click)="abrirModificacionUc(uc.id_uc)">
                                                <svg cIcon name="cil-pencil"></svg></button>
                                        
                                    </td>
                                </ng-container>
                                  <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                                  <tr mat-header-row *matHeaderRowDef="['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','gestion']"></tr>
                                  <tr mat-row *matRowDef="let row; columns: ['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','gestion'];"></tr>
                                </table>
                              </div>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                    <!-- Botón para añadir unidades curriculares a trayectos no semestrales -->
                    <div *ngIf="datosPrograma[0]?.regimen !== 'SEMESTRAL'">
                      <!-- Muestra menciones si existen -->
                      <br>
                          <ng-container *ngIf="trayecto.menciones && trayecto.menciones.length > 0">
                            <mat-accordion>
                              <mat-expansion-panel *ngFor="let mencion of trayecto.menciones" (opened)="cargarUnidadesCurricularesMencion(trayecto.nombre_trayecto, mencion.nombre_mencion )">
                                <mat-expansion-panel-header class="expancion-header mat-expansion-panel-header ng-tns-c48-104 ng-trigger ng-trigger-expansionHeight ng-star-inserted">
                                  <mat-panel-title>
                                    Mención: {{ mencion.nombre_mencion }}
                                  </mat-panel-title>
                                </mat-expansion-panel-header>
                                  <br>
                                <!-- Botón para añadir unidades curriculares a la mención -->
                                <button cButton color="light" size="sm" >
                                  <svg cIcon class="me-2" name="cilPlaylistAdd"></svg>Añadir Unidades Curriculares
                                </button>
                                <div *ngIf="unidadesCurriculares.length">
                                  <table mat-table [dataSource]="unidadesCurriculares">
                                      <!-- Columnas del mat-table -->
                                      <ng-container matColumnDef="codigo_uc">
                                        <th mat-header-cell *matHeaderCellDef> Código UC </th>
                                        <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                                      </ng-container>
      
                                      <ng-container matColumnDef="nombre_uc">
                                        <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                                        <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                                      </ng-container>
      
                                      <ng-container matColumnDef="creditos">
                                        <th mat-header-cell *matHeaderCellDef> Créditos </th>
                                        <td mat-cell *matCellDef="let uc"> {{ uc.creditos }} </td>
                                      </ng-container>
      
                                      <ng-container matColumnDef="es_electiva">
                                        <th mat-header-cell *matHeaderCellDef> Electiva </th>
                                        <td mat-cell *matCellDef="let uc"> {{ uc.es_electiva }} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="gestion">
                                        <th mat-header-cell *matHeaderCellDef> Gestionar </th>
                                        <td mat-cell *matCellDef="let uc">
                                            
                                                <button cButton class="btn-primary" size="sm" (click)="abrirModificacionUc(uc.id_uc)">
                                                    <svg cIcon name="cil-pencil"></svg></button>
                                            
                                        </td>
                                    </ng-container>
                                      <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                                      <tr mat-header-row *matHeaderRowDef="['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','gestion']"></tr>
                                      <tr mat-row *matRowDef="let row; columns: ['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','gestion'];"></tr>
                                    </table>
                                </div>
                              </mat-expansion-panel>
                            </mat-accordion>
                          </ng-container>

                      <!-- Si no hay menciones, muestra el botón para añadir unidades curriculares al trayecto -->
                    <ng-container *ngIf="!trayecto.menciones || trayecto.menciones.length === 0">
                      <button cButton color="light" size="sm" >
                        <svg cIcon class="me-2" name="cilPlaylistAdd"></svg>Añadir Unidades Curriculares
                      </button>
                      <div *ngIf="unidadesCurriculares.length">
                        <table mat-table [dataSource]="unidadesCurriculares">
                            <!-- Columnas del mat-table -->
                            <ng-container matColumnDef="codigo_uc">
                              <th mat-header-cell *matHeaderCellDef> Código UC </th>
                              <td mat-cell *matCellDef="let uc"> {{ uc.codigo_uc }} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombre_uc">
                              <th mat-header-cell *matHeaderCellDef> Nombre UC </th>
                              <td mat-cell *matCellDef="let uc"> {{ uc.nombre_uc }} </td>
                            </ng-container>

                            <ng-container matColumnDef="creditos">
                              <th mat-header-cell *matHeaderCellDef> Créditos </th>
                              <td mat-cell *matCellDef="let uc"> {{ uc.creditos }} </td>
                            </ng-container>

                            <ng-container matColumnDef="es_electiva">
                              <th mat-header-cell *matHeaderCellDef> Electiva </th>
                              <td mat-cell *matCellDef="let uc"> {{ uc.es_electiva }} </td>
                            </ng-container>
                            <ng-container matColumnDef="gestion">
                              <th mat-header-cell *matHeaderCellDef> Gestionar </th>
                              <td mat-cell *matCellDef="let uc">
                                  
                                      <button cButton class="btn-primary" size="sm" (click)="abrirModificacionUc(uc.id_uc)">
                                          <svg cIcon name="cil-pencil"></svg></button>
                                  
                              </td>
                          </ng-container>
                            <!-- Más columnas para nombre_uc, creditos, es_electiva... -->
                            <tr mat-header-row *matHeaderRowDef="['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','gestion']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['codigo_uc', 'nombre_uc', 'creditos', 'es_electiva','gestion'];"></tr>
                          </table>
                      </div>
                    </ng-container>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
        </c-card-body>
    </c-card>
</c-col>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-atom">
    <p style="color: white" align="center">Por favor espere... <br>¡Validando información!</p>
</ngx-spinner>