<c-col xs="12">
  <c-card class="mb-4">
      <c-card-header>
          <strong>Creación de programa académico</strong> &nbsp; <small>Datos del programa</small> 
      </c-card-header>
      <c-card-body>
        <mat-horizontal-stepper linear #stepper>
          <mat-step [stepControl]="programFormGroup">
            <form [formGroup]="programFormGroup">
              <ng-template matStepLabel>Información del Programa</ng-template>
              <div class="row">
                <div class="col s12">
                  <c-alert color="info">
                    Por favor completa los campos para poder crear un nuevo programa, verifica muy bien los campos a llenar.
                  </c-alert>
                </div>
              </div>
              <!-- Primera línea: Código Programa, Departamento Adscrito, Código OPSU, Tipo de Programa -->
              <div class="row">
                <div class="col l3 m6 s12">
                  <mat-form-field>
                    <mat-label>Código programa</mat-label>
                    <input matInput formControlName="codigo" style='text-transform:uppercase' required>
                  </mat-form-field>
                </div>
                <div class="col l3 m6 s12">
                  <mat-form-field>
                    <mat-label>Dpto/Escuela Adscrito</mat-label>
                    <mat-select formControlName="departamento" required>
                      <mat-option [value]="dep.id_departamento"
                                  *ngFor="let dep of departamentos">{{dep.nombre_departamento}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col l3 m6 s12">
                  <mat-form-field>
                    <mat-label>Código OPSU</mat-label>
                    <input matInput type="number" formControlName="codigo_opsu" required
                           minlength="1" maxlength="5" (input)="onCodOpsuInput()">
                    <mat-error *ngIf="programFormGroup.get('codigo_opsu')?.hasError('maxlength')">
                      El código OPSU no puede tener más de 5 dígitos.
                    </mat-error>
                    <mat-error *ngIf="programFormGroup.get('codigo_opsu')?.hasError('min') || programFormGroup.get('codigo_opsu')?.hasError('required')">
                      El código debe ser positivo.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col l3 m6 s12">
                  <mat-form-field>
                    <mat-label>Tipo de Programa</mat-label>
                    <mat-select formControlName="tipo_programa" required>
                      <mat-option [value]="dep.codelemento"
                                  *ngFor="let dep of type_programs">{{dep.descripcion}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
        
              <!-- Segunda línea: Nombre del Programa -->
              <div class="row">
                <div class="col l9 m6 s12">
                  <mat-form-field>
                    <mat-label>Nombre del Programa</mat-label>
                    <input matInput formControlName="nombre" style='text-transform:uppercase' required>
                  </mat-form-field>
                </div>
                <div class="col l3 m6 s12">
                  <mat-form-field>
                    <mat-label>Siglas del Programa</mat-label>
                    <input matInput formControlName="siglas" style='text-transform:uppercase' required maxlength="3" minlength="3">
                    <mat-error *ngIf="programFormGroup.get('siglas')?.hasError('maxlength') || programFormGroup.get('siglas')?.hasError('minlength')">
                      Las siglas deben tener exactamente 3 letras.
                    </mat-error>
                  </mat-form-field>
                </div>        
              </div>
        
              <div class="row">
                <div class="col s12" style="text-align: right;">
                  <button cButton btn btn-primary size="sm" matStepperNext [disabled]="!programFormGroup.valid">
                    <svg cIcon class="me-2" name="cil-arrow-right"></svg>
                    Siguiente
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
        
          <mat-step>
            <ng-template matStepLabel>Verificación del programa</ng-template>
        
            <!-- Alert/Instruction -->
            <div class="row">
              <div class="col s12">
                <c-alert color="info">
                  Verifica la información antes de crear el programa académico, ya que esta información es sensible
                </c-alert>
              </div>
            </div>
        
            <!-- Información Verificada -->
            <div class="row">
              <div class="col s12">
                <p><strong>Código programa:</strong> {{programFormGroup.get('codigo')?.value}}</p>
                <p><strong>Departamento Adscrito:</strong> {{getDepartamentoNombre(programFormGroup.get('departamento')?.value)}}</p>
                <p><strong>Código OPSU:</strong> {{programFormGroup.get('codigo_opsu')?.value}}</p>
                <p><strong>Tipo de Programa:</strong> {{getTipoProgramaNombre(programFormGroup.get('tipo_programa')?.value)}}</p>
                <p><strong>Nombre del Programa:</strong> {{transformToUpperCase(programFormGroup.get('nombre')?.value)}}</p>
                <p><strong>Siglas del Programa:</strong> {{transformToUpperCase(programFormGroup.get('siglas')?.value)}}</p>
              </div>
            </div>
        
            <!-- Botones -->
            <div class="row">
              <div class="col s12" style="text-align: right;">
                <button cButton btn btn-secondary size="sm" matStepperPrevious>
                  <svg cIcon class="me-2" name="cil-arrow-left"></svg>
                  Anterior
                </button>
                <button cButton btn btn-primary size="sm" (click)="onSubmit()" [disabled]="!programFormGroup.valid" style="margin-left: 8px;">
                  <svg cIcon class="me-2" name="cil-save"></svg>
                  Guardar
                </button>
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </c-card-body>
      
  </c-card>
</c-col>

