<div class="modal-header">
  <h4 class="modal-title">
    Revisión de Datos Inconsistentes de:
    <strong> {{ estudianteBase.nombre_completo }} ({{ estudianteBase.id_estudiante }}) </strong>
    <div class="copy-container">
      <button (click)="copiarCedula()" cButton class="btn-primary copy-button" size="sm">
        <svg cIcon name="cilCopy"></svg> <span class="copy-text">Copiar cédula</span>
      </button>
      <span *ngIf="copiado" class="copiado-text"><strong>¡Copiado!</strong></span>
    </div>
  </h4>
</div>


<div class="modal-body">
  <!-- Alerta Importante -->
  <div class="alert alert-warning">
    <strong>¡IMPORTANTE!</strong>
    Estás a punto de revisar solicitudes críticas. Recuerda que la exactitud en este proceso es fundamental.
  </div>
  <div class="correo-container">
    <p>
      <strong>Email:</strong> {{ estudianteBase.email }}
    </p>
    <div class="copy-container">
      <button (click)="copiarCorreo()" cButton class="btn-primary copy-button" size="sm">
        <svg cIcon name="cilCopy"></svg> <span class="copy-text">Copiar correo</span>
      </button>
      <span *ngIf="copiadoCorreo" class="copiado-text"><strong>¡Copiado!</strong></span>
    </div>
  </div>
  <!-- Formulario con los datos del estudiante y detalles incorrectos -->
  <form [formGroup]="form">
    <div class="row">
      <h4><strong>📑 Datos Incorrectos Declarados por el Estudiante 📑</strong></h4>
      <ng-container *ngFor="let detalle of detallesIncorrectos; let i = index">
        <div *ngIf="detalle.tipo !== 'nombresApellidos'">
          <p><strong>{{ i + 1 }}.</strong> {{ obtenerDescripcionDetalle(detalle.tipo) }}</p>
        </div>
      </ng-container>
    </div>
    
    <div class="row">
      <!-- Campos fijos -->
      <div class="row">
        <div class="col l12 m12 s12">
          <mat-form-field>
            <mat-label>Cohorte</mat-label>
            <input matInput formControlName="cohorte" type="number">
            <mat-error *ngIf="form.get('cohorte')?.hasError('required')">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="form.get('cohorte')?.hasError('pattern')">Debe ser un número de 4 dígitos.</mat-error>
            <mat-error *ngIf="form.get('cohorte')?.hasError('max')">No puede ser mayor al año actual.</mat-error>
            <mat-error *ngIf="form.get('cohorte')?.hasError('min')">No puede ser menor al año 1971.</mat-error>
          </mat-form-field>
        </div>
    
        <!-- Omitido por brevedad -->
    
        <div class="col l12 m12 s12">
          <mat-form-field>
            <mat-label>Modalidad de ingreso</mat-label>
            <mat-select formControlName="modalidadIngreso">
              <mat-option *ngFor="let modin of modalidadesIngreso" [value]="modin.codelemento">{{modin.descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col l12 m12 s12">
          <mat-form-field>
            <mat-label>Trayecto ingreso</mat-label>
            <input matInput formControlName="trayectoIngreso" type="number">
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('required')">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('pattern')">Debe ser un número de 1 dígito.</mat-error>
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('max')">No puede ser mayor a 5.</mat-error>
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('min')">No puede ser menor a 0.</mat-error>
          </mat-form-field>
        </div>

        <div class="col l12 m12 s12">
          <mat-form-field>
            <mat-label>Trayecto actual</mat-label>
            <input matInput formControlName="trayectoActual" type="number">
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('required')">Este campo es obligatorio.</mat-error>
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('pattern')">Debe ser un número de 1 dígito.</mat-error>
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('max')">No puede ser mayor a 5.</mat-error>
            <mat-error *ngIf="form.get('trayectoIngreso')?.hasError('min')">No puede ser menor a 0.</mat-error>
          </mat-form-field>
        </div>
    
        <div class="col s12">
          <mat-form-field>
            <mat-label>PNF/Carrera</mat-label>
            <mat-select formControlName="pnf">
              <mat-option *ngFor="let item of pnfs" [value]="item.codelemento">{{item.descripcion}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="formNombresApellidos">
        <form [formGroup]="formNombresApellidos">
          <h4><strong>👤 Nombres y Apellidos "Correctos" declarados por el estudiante</strong></h4>
          <div class="row align-items-center">
            <!-- Columna izquierda para nombres y apellidos -->
            <div class="col-md-6 col-12">
              <div class="row">
                <mat-label>Nombres</mat-label>
                <div class="col-md-6 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Primer Nombre</mat-label>
                    <input matInput formControlName="primerNombre">
                    <mat-error *ngIf="formNombresApellidos.get('primerNombre')?.errors?.['required']">
                      El primer nombre es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Segundo Nombre</mat-label>
                    <input matInput formControlName="segundoNombre">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <mat-label>Apellidos</mat-label>
                <div class="col-md-6 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Primer Apellido</mat-label>
                    <input matInput formControlName="primerApellido">
                    <mat-error *ngIf="formNombresApellidos.get('primerApellido')?.errors?.['required']">
                      El primer apellido es obligatorio.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-12">
                  <mat-form-field appearance="fill">
                    <mat-label>Segundo Apellido</mat-label>
                    <input matInput formControlName="segundoApellido">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Columna derecha para mostrar la imagen -->
            <div class="col-md-6 col-12 d-flex align-items-center justify-content-center">
              <div class="text-center">
                <h4>Documento de identidad</h4>
                <div *ngIf="detalles.file; else noFile">
                  <img [src]="detalles.file" alt="Cédula de Identidad" class="img-preview">
                </div>
                <ng-template #noFile>
                  <p>Sin archivo disponible</p>
                </ng-template>
              </div>
            </div>
          </div>
      
          <!-- Radio buttons para elegir si actualizar o no -->
          <div class="form-group mt-3">
            <label>¿Desea confirmar la actualización de estos datos biográficos críticos en la base de datos temporal antes de su migración final?</label><br>
            <mat-radio-group formControlName="actualizarDatos">
              <mat-radio-button value="si">Sí, confirmar</mat-radio-button>
              <mat-radio-button value="no">No, datos siguen incorrectos</mat-radio-button>
            </mat-radio-group>
            <p class="text-warning">Esta acción es crítica y debería realizarse solo si la información ha sido verificada minuciosamente.</p>
          </div>
        </form>
      </div>   

    </div>
    <!-- Botón para actualizar datos -->
    <div align="right">
      <button cButton class="btn-primary"
      [disabled]="!form.valid || (formNombresApellidos && !formNombresApellidos.valid)"
      (click)="actualizaRdi()">Actualizar datos</button>

    </div>
  </form>
</div>
<div class="modal-footer">
  <button 
    type="button" 
    class="btn btn-warning d-flex align-items-center"
    (click)="diferirRevision()">
    <svg cIcon class="me-2" name="cilClock"></svg>
    Diferir revisión
  </button>
  <button 
    type="button" 
    class="btn btn-secondary"
    (click)="closeModal()">Salir
  </button>
</div>

